/*
FOSSA API

OpenAPI Specification for public FOSSA APIs

API version: 4.28.61
Contact: support@fossa.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package fossa

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
	"reflect"
)


// IssuesAPIService IssuesAPI service
type IssuesAPIService service

type ApiCreateIssueDisputeRequest struct {
	ctx context.Context
	ApiService *IssuesAPIService
	issueId int32
	createIssueDisputeRequest *CreateIssueDisputeRequest
}

func (r ApiCreateIssueDisputeRequest) CreateIssueDisputeRequest(createIssueDisputeRequest CreateIssueDisputeRequest) ApiCreateIssueDisputeRequest {
	r.createIssueDisputeRequest = &createIssueDisputeRequest
	return r
}

func (r ApiCreateIssueDisputeRequest) Execute() (*CreateIssueDispute200Response, *http.Response, error) {
	return r.ApiService.CreateIssueDisputeExecute(r)
}

/*
CreateIssueDispute Method for CreateIssueDispute

Creates an issue dispute. For now it only supports licensing issues.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param issueId ID of the issue that is being disputed.
 @return ApiCreateIssueDisputeRequest
*/
func (a *IssuesAPIService) CreateIssueDispute(ctx context.Context, issueId int32) ApiCreateIssueDisputeRequest {
	return ApiCreateIssueDisputeRequest{
		ApiService: a,
		ctx: ctx,
		issueId: issueId,
	}
}

// Execute executes the request
//  @return CreateIssueDispute200Response
func (a *IssuesAPIService) CreateIssueDisputeExecute(r ApiCreateIssueDisputeRequest) (*CreateIssueDispute200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateIssueDispute200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssuesAPIService.CreateIssueDispute")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/issues/{issueId}/disputes"
	localVarPath = strings.Replace(localVarPath, "{"+"issueId"+"}", url.PathEscape(parameterValueToString(r.issueId, "issueId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createIssueDisputeRequest == nil {
		return localVarReturnValue, nil, reportError("createIssueDisputeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createIssueDisputeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteIssueExceptionRequest struct {
	ctx context.Context
	ApiService *IssuesAPIService
	id int32
}

func (r ApiDeleteIssueExceptionRequest) Execute() (int32, *http.Response, error) {
	return r.ApiService.DeleteIssueExceptionExecute(r)
}

/*
DeleteIssueException Method for DeleteIssueException

Delete an issue ignore rule.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id ID of the issue exception to be deleted
 @return ApiDeleteIssueExceptionRequest
*/
func (a *IssuesAPIService) DeleteIssueException(ctx context.Context, id int32) ApiDeleteIssueExceptionRequest {
	return ApiDeleteIssueExceptionRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return int32
func (a *IssuesAPIService) DeleteIssueExceptionExecute(r ApiDeleteIssueExceptionRequest) (int32, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  int32
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssuesAPIService.DeleteIssueException")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/issues/exceptions/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteIssueExceptionsRequest struct {
	ctx context.Context
	ApiService *IssuesAPIService
	deleteIssueExceptionsRequest *DeleteIssueExceptionsRequest
}

func (r ApiDeleteIssueExceptionsRequest) DeleteIssueExceptionsRequest(deleteIssueExceptionsRequest DeleteIssueExceptionsRequest) ApiDeleteIssueExceptionsRequest {
	r.deleteIssueExceptionsRequest = &deleteIssueExceptionsRequest
	return r
}

func (r ApiDeleteIssueExceptionsRequest) Execute() (*UpdateIssues200Response, *http.Response, error) {
	return r.ApiService.DeleteIssueExceptionsExecute(r)
}

/*
DeleteIssueExceptions Method for DeleteIssueExceptions

Delete issue ignore rules.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteIssueExceptionsRequest
*/
func (a *IssuesAPIService) DeleteIssueExceptions(ctx context.Context) ApiDeleteIssueExceptionsRequest {
	return ApiDeleteIssueExceptionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return UpdateIssues200Response
func (a *IssuesAPIService) DeleteIssueExceptionsExecute(r ApiDeleteIssueExceptionsRequest) (*UpdateIssues200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdateIssues200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssuesAPIService.DeleteIssueExceptions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/issues/exceptions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deleteIssueExceptionsRequest == nil {
		return localVarReturnValue, nil, reportError("deleteIssueExceptionsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.deleteIssueExceptionsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteProjectGenerateAttributionSlugRequest struct {
	ctx context.Context
	ApiService *IssuesAPIService
	locator string
}

func (r ApiDeleteProjectGenerateAttributionSlugRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteProjectGenerateAttributionSlugExecute(r)
}

/*
DeleteProjectGenerateAttributionSlug Method for DeleteProjectGenerateAttributionSlug

Delete a slug used in the URL for the live attribution report for this project

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param locator
 @return ApiDeleteProjectGenerateAttributionSlugRequest
*/
func (a *IssuesAPIService) DeleteProjectGenerateAttributionSlug(ctx context.Context, locator string) ApiDeleteProjectGenerateAttributionSlugRequest {
	return ApiDeleteProjectGenerateAttributionSlugRequest{
		ApiService: a,
		ctx: ctx,
		locator: locator,
	}
}

// Execute executes the request
func (a *IssuesAPIService) DeleteProjectGenerateAttributionSlugExecute(r ApiDeleteProjectGenerateAttributionSlugRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssuesAPIService.DeleteProjectGenerateAttributionSlug")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{locator}/generate_attribution_slug"
	localVarPath = strings.Replace(localVarPath, "{"+"locator"+"}", url.PathEscape(parameterValueToString(r.locator, "locator")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetGlobalIssuesCSVRequest struct {
	ctx context.Context
	ApiService *IssuesAPIService
	email *bool
}

// When provided, we will submit the report for background processing and deliver via email when ready. Otherwise the report will be streamed via API
func (r ApiGetGlobalIssuesCSVRequest) Email(email bool) ApiGetGlobalIssuesCSVRequest {
	r.email = &email
	return r
}

func (r ApiGetGlobalIssuesCSVRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.GetGlobalIssuesCSVExecute(r)
}

/*
GetGlobalIssuesCSV Method for GetGlobalIssuesCSV

Download the global issues report (CSV) or submit for background processing

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetGlobalIssuesCSVRequest
*/
func (a *IssuesAPIService) GetGlobalIssuesCSV(ctx context.Context) ApiGetGlobalIssuesCSVRequest {
	return ApiGetGlobalIssuesCSVRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return *os.File
func (a *IssuesAPIService) GetGlobalIssuesCSVExecute(r ApiGetGlobalIssuesCSVRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssuesAPIService.GetGlobalIssuesCSV")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/issues/csv/global"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.email != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "email", r.email, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/octet-stream", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetIssueRequest struct {
	ctx context.Context
	ApiService *IssuesAPIService
	issueId int32
	category *string
	scopeType *string
	scopeId *string
	scopeRevision *string
	scopeRevisionScanId *int32
	scopeRelease *string
	scopeReleaseScanId *string
}

// Issue category
func (r ApiGetIssueRequest) Category(category string) ApiGetIssueRequest {
	r.category = &category
	return r
}

// Scope of issues to view / update
func (r ApiGetIssueRequest) ScopeType(scopeType string) ApiGetIssueRequest {
	r.scopeType = &scopeType
	return r
}

// Project or release group ID (required when scope[type] is \&quot;project\&quot; or \&quot;releaseGroup\&quot;)
func (r ApiGetIssueRequest) ScopeId(scopeId string) ApiGetIssueRequest {
	r.scopeId = &scopeId
	return r
}

// Revision ID (when scope[type] is \&quot;project\&quot;)
func (r ApiGetIssueRequest) ScopeRevision(scopeRevision string) ApiGetIssueRequest {
	r.scopeRevision = &scopeRevision
	return r
}

// Revision scan ID (when scope[type] is \&quot;project\&quot;)
func (r ApiGetIssueRequest) ScopeRevisionScanId(scopeRevisionScanId int32) ApiGetIssueRequest {
	r.scopeRevisionScanId = &scopeRevisionScanId
	return r
}

// Release group ID (when scope[type] is \&quot;releaseGroup\&quot;)
func (r ApiGetIssueRequest) ScopeRelease(scopeRelease string) ApiGetIssueRequest {
	r.scopeRelease = &scopeRelease
	return r
}

// Release scan ID (when scope[type] is \&quot;releaseGroup\&quot;)
func (r ApiGetIssueRequest) ScopeReleaseScanId(scopeReleaseScanId string) ApiGetIssueRequest {
	r.scopeReleaseScanId = &scopeReleaseScanId
	return r
}

func (r ApiGetIssueRequest) Execute() (*GetIssue200Response, *http.Response, error) {
	return r.ApiService.GetIssueExecute(r)
}

/*
GetIssue Method for GetIssue

Retrieve a single issue

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param issueId Issue ID
 @return ApiGetIssueRequest
*/
func (a *IssuesAPIService) GetIssue(ctx context.Context, issueId int32) ApiGetIssueRequest {
	return ApiGetIssueRequest{
		ApiService: a,
		ctx: ctx,
		issueId: issueId,
	}
}

// Execute executes the request
//  @return GetIssue200Response
func (a *IssuesAPIService) GetIssueExecute(r ApiGetIssueRequest) (*GetIssue200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetIssue200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssuesAPIService.GetIssue")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/issues/{issueId}"
	localVarPath = strings.Replace(localVarPath, "{"+"issueId"+"}", url.PathEscape(parameterValueToString(r.issueId, "issueId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.category == nil {
		return localVarReturnValue, nil, reportError("category is required and must be specified")
	}
	if r.scopeType == nil {
		return localVarReturnValue, nil, reportError("scopeType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "category", r.category, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "scope[type]", r.scopeType, "form", "")
	if r.scopeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[id]", r.scopeId, "form", "")
	}
	if r.scopeRevision != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[revision]", r.scopeRevision, "form", "")
	}
	if r.scopeRevisionScanId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[revisionScanId]", r.scopeRevisionScanId, "form", "")
	}
	if r.scopeRelease != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[release]", r.scopeRelease, "form", "")
	}
	if r.scopeReleaseScanId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[releaseScanId]", r.scopeReleaseScanId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetIssueAffectedProjectsRequest struct {
	ctx context.Context
	ApiService *IssuesAPIService
	issueId int32
	category *string
	scopeType *string
	scopeId *string
	scopeRevision *string
	scopeRevisionScanId *int32
	scopeRelease *string
	scopeReleaseScanId *string
}

// Issue category
func (r ApiGetIssueAffectedProjectsRequest) Category(category string) ApiGetIssueAffectedProjectsRequest {
	r.category = &category
	return r
}

// Scope of issues to view / update
func (r ApiGetIssueAffectedProjectsRequest) ScopeType(scopeType string) ApiGetIssueAffectedProjectsRequest {
	r.scopeType = &scopeType
	return r
}

// Project or release group ID (required when scope[type] is \&quot;project\&quot; or \&quot;releaseGroup\&quot;)
func (r ApiGetIssueAffectedProjectsRequest) ScopeId(scopeId string) ApiGetIssueAffectedProjectsRequest {
	r.scopeId = &scopeId
	return r
}

// Revision ID (when scope[type] is \&quot;project\&quot;)
func (r ApiGetIssueAffectedProjectsRequest) ScopeRevision(scopeRevision string) ApiGetIssueAffectedProjectsRequest {
	r.scopeRevision = &scopeRevision
	return r
}

// Revision scan ID (when scope[type] is \&quot;project\&quot;)
func (r ApiGetIssueAffectedProjectsRequest) ScopeRevisionScanId(scopeRevisionScanId int32) ApiGetIssueAffectedProjectsRequest {
	r.scopeRevisionScanId = &scopeRevisionScanId
	return r
}

// Release group ID (when scope[type] is \&quot;releaseGroup\&quot;)
func (r ApiGetIssueAffectedProjectsRequest) ScopeRelease(scopeRelease string) ApiGetIssueAffectedProjectsRequest {
	r.scopeRelease = &scopeRelease
	return r
}

// Release scan ID (when scope[type] is \&quot;releaseGroup\&quot;)
func (r ApiGetIssueAffectedProjectsRequest) ScopeReleaseScanId(scopeReleaseScanId string) ApiGetIssueAffectedProjectsRequest {
	r.scopeReleaseScanId = &scopeReleaseScanId
	return r
}

func (r ApiGetIssueAffectedProjectsRequest) Execute() ([]GetIssueAffectedProjects200ResponseInner, *http.Response, error) {
	return r.ApiService.GetIssueAffectedProjectsExecute(r)
}

/*
GetIssueAffectedProjects Method for GetIssueAffectedProjects

Retrieves a list of affected projects for a given issue.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param issueId Issue ID
 @return ApiGetIssueAffectedProjectsRequest
*/
func (a *IssuesAPIService) GetIssueAffectedProjects(ctx context.Context, issueId int32) ApiGetIssueAffectedProjectsRequest {
	return ApiGetIssueAffectedProjectsRequest{
		ApiService: a,
		ctx: ctx,
		issueId: issueId,
	}
}

// Execute executes the request
//  @return []GetIssueAffectedProjects200ResponseInner
func (a *IssuesAPIService) GetIssueAffectedProjectsExecute(r ApiGetIssueAffectedProjectsRequest) ([]GetIssueAffectedProjects200ResponseInner, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []GetIssueAffectedProjects200ResponseInner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssuesAPIService.GetIssueAffectedProjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/issues/{issueId}/affected-projects"
	localVarPath = strings.Replace(localVarPath, "{"+"issueId"+"}", url.PathEscape(parameterValueToString(r.issueId, "issueId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.category == nil {
		return localVarReturnValue, nil, reportError("category is required and must be specified")
	}
	if r.scopeType == nil {
		return localVarReturnValue, nil, reportError("scopeType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "category", r.category, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "scope[type]", r.scopeType, "form", "")
	if r.scopeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[id]", r.scopeId, "form", "")
	}
	if r.scopeRevision != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[revision]", r.scopeRevision, "form", "")
	}
	if r.scopeRevisionScanId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[revisionScanId]", r.scopeRevisionScanId, "form", "")
	}
	if r.scopeRelease != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[release]", r.scopeRelease, "form", "")
	}
	if r.scopeReleaseScanId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[releaseScanId]", r.scopeReleaseScanId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetIssueCWEsRequest struct {
	ctx context.Context
	ApiService *IssuesAPIService
	scopeType *string
	status *string
	scopeId *string
	scopeRevision *string
	scopeRevisionScanId *int32
	scopeRelease *string
	scopeReleaseScanId *string
	scopeCompareToRevision *string
	scopeCompareToChangeStatus *string
	teamId *[]GetIssueCWEsTeamIdParameterInner
}

// Scope of issues to view / update
func (r ApiGetIssueCWEsRequest) ScopeType(scopeType string) ApiGetIssueCWEsRequest {
	r.scopeType = &scopeType
	return r
}

// Issue status
func (r ApiGetIssueCWEsRequest) Status(status string) ApiGetIssueCWEsRequest {
	r.status = &status
	return r
}

// Project or release group ID (required when scope[type] is \&quot;project\&quot; or \&quot;releaseGroup\&quot;)
func (r ApiGetIssueCWEsRequest) ScopeId(scopeId string) ApiGetIssueCWEsRequest {
	r.scopeId = &scopeId
	return r
}

// Revision ID (when scope[type] is \&quot;project\&quot;)
func (r ApiGetIssueCWEsRequest) ScopeRevision(scopeRevision string) ApiGetIssueCWEsRequest {
	r.scopeRevision = &scopeRevision
	return r
}

// Revision scan ID (when scope[type] is \&quot;project\&quot;)
func (r ApiGetIssueCWEsRequest) ScopeRevisionScanId(scopeRevisionScanId int32) ApiGetIssueCWEsRequest {
	r.scopeRevisionScanId = &scopeRevisionScanId
	return r
}

// Release group ID (when scope[type] is \&quot;releaseGroup\&quot;)
func (r ApiGetIssueCWEsRequest) ScopeRelease(scopeRelease string) ApiGetIssueCWEsRequest {
	r.scopeRelease = &scopeRelease
	return r
}

// Release scan ID (when scope[type] is \&quot;releaseGroup\&quot;)
func (r ApiGetIssueCWEsRequest) ScopeReleaseScanId(scopeReleaseScanId string) ApiGetIssueCWEsRequest {
	r.scopeReleaseScanId = &scopeReleaseScanId
	return r
}

// The revision ID to compare issues with. Only availabe for Project Scope.
func (r ApiGetIssueCWEsRequest) ScopeCompareToRevision(scopeCompareToRevision string) ApiGetIssueCWEsRequest {
	r.scopeCompareToRevision = &scopeCompareToRevision
	return r
}

// The status of issues to fetch when comparing issues. - New issues are present in the current revision but not in the comparison revision. - Remediated issues are present in the comparison revision but not in the current revision. - Unchanged issues are present in both revisions. Only available for Project Scope. 
func (r ApiGetIssueCWEsRequest) ScopeCompareToChangeStatus(scopeCompareToChangeStatus string) ApiGetIssueCWEsRequest {
	r.scopeCompareToChangeStatus = &scopeCompareToChangeStatus
	return r
}

// Filter by one or more team IDs. Providing \&quot;null\&quot; will return all unassigned projects.
func (r ApiGetIssueCWEsRequest) TeamId(teamId []GetIssueCWEsTeamIdParameterInner) ApiGetIssueCWEsRequest {
	r.teamId = &teamId
	return r
}

func (r ApiGetIssueCWEsRequest) Execute() (*GetIssueCWEs200Response, *http.Response, error) {
	return r.ApiService.GetIssueCWEsExecute(r)
}

/*
GetIssueCWEs Method for GetIssueCWEs

Get the set of unique CWEs associated with current issues

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetIssueCWEsRequest
*/
func (a *IssuesAPIService) GetIssueCWEs(ctx context.Context) ApiGetIssueCWEsRequest {
	return ApiGetIssueCWEsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetIssueCWEs200Response
func (a *IssuesAPIService) GetIssueCWEsExecute(r ApiGetIssueCWEsRequest) (*GetIssueCWEs200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetIssueCWEs200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssuesAPIService.GetIssueCWEs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/issues/cwes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.scopeType == nil {
		return localVarReturnValue, nil, reportError("scopeType is required and must be specified")
	}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "scope[type]", r.scopeType, "form", "")
	if r.scopeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[id]", r.scopeId, "form", "")
	}
	if r.scopeRevision != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[revision]", r.scopeRevision, "form", "")
	}
	if r.scopeRevisionScanId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[revisionScanId]", r.scopeRevisionScanId, "form", "")
	}
	if r.scopeRelease != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[release]", r.scopeRelease, "form", "")
	}
	if r.scopeReleaseScanId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[releaseScanId]", r.scopeReleaseScanId, "form", "")
	}
	if r.scopeCompareToRevision != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[compareTo][revision]", r.scopeCompareToRevision, "form", "")
	}
	if r.scopeCompareToChangeStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[compareTo][changeStatus]", r.scopeCompareToChangeStatus, "form", "")
	}
	if r.teamId != nil {
		t := *r.teamId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "teamId[]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "teamId[]", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetIssueDiffComparisonSummariesRequest struct {
	ctx context.Context
	ApiService *IssuesAPIService
	category *string
	scopeType *string
	scopeId *string
	scopeRevision *string
	scopeRevisionScanId *int32
	scopeCompareToRevision *string
	scopeCompareToChangeStatus *string
	ids *[]int32
	filterRevisionIds *[]string
	filterSearch *string
	filterDepths *[]string
	filterTicketed *[]string
	filterContainerLayers *[]string
	filterType *GetIssueStatusesFilterTypeParameter
	filterPackageManagers *[]string
	filterCwes *[]string
	filterProjectLabels *[]string
	filterIdentification *[]string
	filterSeverity *[]string
	filterFoundAfter *string
	filterHasFix *[]string
	filterUpgradeDistance *[]string
	filterExploitMaturity *[]string
	filterIgnoreReason *[]string
	filterEpss *GetIssueDiffComparisonSummariesFilterEpssParameter
	filterConfidence *[]string
}

// Issue category
func (r ApiGetIssueDiffComparisonSummariesRequest) Category(category string) ApiGetIssueDiffComparisonSummariesRequest {
	r.category = &category
	return r
}

// Scope of issues to view
func (r ApiGetIssueDiffComparisonSummariesRequest) ScopeType(scopeType string) ApiGetIssueDiffComparisonSummariesRequest {
	r.scopeType = &scopeType
	return r
}

// Project or release group ID (required when scope[type] is \&quot;project\&quot; or \&quot;releaseGroup\&quot;)
func (r ApiGetIssueDiffComparisonSummariesRequest) ScopeId(scopeId string) ApiGetIssueDiffComparisonSummariesRequest {
	r.scopeId = &scopeId
	return r
}

// Revision ID (when scope[type] is \&quot;project\&quot;)
func (r ApiGetIssueDiffComparisonSummariesRequest) ScopeRevision(scopeRevision string) ApiGetIssueDiffComparisonSummariesRequest {
	r.scopeRevision = &scopeRevision
	return r
}

// Revision scan ID (when scope[type] is \&quot;project\&quot;)
func (r ApiGetIssueDiffComparisonSummariesRequest) ScopeRevisionScanId(scopeRevisionScanId int32) ApiGetIssueDiffComparisonSummariesRequest {
	r.scopeRevisionScanId = &scopeRevisionScanId
	return r
}

// The revision ID to compare issues with. Only availabe for Project Scope.
func (r ApiGetIssueDiffComparisonSummariesRequest) ScopeCompareToRevision(scopeCompareToRevision string) ApiGetIssueDiffComparisonSummariesRequest {
	r.scopeCompareToRevision = &scopeCompareToRevision
	return r
}

// The status of issues to fetch when comparing issues. - New issues are present in the current revision but not in the comparison revision. - Remediated issues are present in the comparison revision but not in the current revision. - Unchanged issues are present in both revisions. Only available for Project Scope. 
func (r ApiGetIssueDiffComparisonSummariesRequest) ScopeCompareToChangeStatus(scopeCompareToChangeStatus string) ApiGetIssueDiffComparisonSummariesRequest {
	r.scopeCompareToChangeStatus = &scopeCompareToChangeStatus
	return r
}

// Filter by specific issue IDs
func (r ApiGetIssueDiffComparisonSummariesRequest) Ids(ids []int32) ApiGetIssueDiffComparisonSummariesRequest {
	r.ids = &ids
	return r
}

// Filter by specific revision IDs
func (r ApiGetIssueDiffComparisonSummariesRequest) FilterRevisionIds(filterRevisionIds []string) ApiGetIssueDiffComparisonSummariesRequest {
	r.filterRevisionIds = &filterRevisionIds
	return r
}

// Filter by package name or CVE (when category is \&quot;vulnerability\&quot;)
func (r ApiGetIssueDiffComparisonSummariesRequest) FilterSearch(filterSearch string) ApiGetIssueDiffComparisonSummariesRequest {
	r.filterSearch = &filterSearch
	return r
}

// Filter by issue depth
func (r ApiGetIssueDiffComparisonSummariesRequest) FilterDepths(filterDepths []string) ApiGetIssueDiffComparisonSummariesRequest {
	r.filterDepths = &filterDepths
	return r
}

// Filter by ticketed status.  Only available to premium users.
func (r ApiGetIssueDiffComparisonSummariesRequest) FilterTicketed(filterTicketed []string) ApiGetIssueDiffComparisonSummariesRequest {
	r.filterTicketed = &filterTicketed
	return r
}

// Filter by container layer
func (r ApiGetIssueDiffComparisonSummariesRequest) FilterContainerLayers(filterContainerLayers []string) ApiGetIssueDiffComparisonSummariesRequest {
	r.filterContainerLayers = &filterContainerLayers
	return r
}

// Filter by licensing issue type (when category is \&quot;licensing\&quot;) or quality issue type (when category is \&quot;quality\&quot;) 
func (r ApiGetIssueDiffComparisonSummariesRequest) FilterType(filterType GetIssueStatusesFilterTypeParameter) ApiGetIssueDiffComparisonSummariesRequest {
	r.filterType = &filterType
	return r
}

// Filter by specific package managers
func (r ApiGetIssueDiffComparisonSummariesRequest) FilterPackageManagers(filterPackageManagers []string) ApiGetIssueDiffComparisonSummariesRequest {
	r.filterPackageManagers = &filterPackageManagers
	return r
}

// Filter by specific CWE identifiers
func (r ApiGetIssueDiffComparisonSummariesRequest) FilterCwes(filterCwes []string) ApiGetIssueDiffComparisonSummariesRequest {
	r.filterCwes = &filterCwes
	return r
}

// Filter by specific project labels
func (r ApiGetIssueDiffComparisonSummariesRequest) FilterProjectLabels(filterProjectLabels []string) ApiGetIssueDiffComparisonSummariesRequest {
	r.filterProjectLabels = &filterProjectLabels
	return r
}

// Filter by license identification (when category is \&quot;licensing\&quot;)
func (r ApiGetIssueDiffComparisonSummariesRequest) FilterIdentification(filterIdentification []string) ApiGetIssueDiffComparisonSummariesRequest {
	r.filterIdentification = &filterIdentification
	return r
}

// Filter by vuln severity (when category is \&quot;vulnerability\&quot;)
func (r ApiGetIssueDiffComparisonSummariesRequest) FilterSeverity(filterSeverity []string) ApiGetIssueDiffComparisonSummariesRequest {
	r.filterSeverity = &filterSeverity
	return r
}

// Include only issues found on after a given date.  Only available to premium users
func (r ApiGetIssueDiffComparisonSummariesRequest) FilterFoundAfter(filterFoundAfter string) ApiGetIssueDiffComparisonSummariesRequest {
	r.filterFoundAfter = &filterFoundAfter
	return r
}

// Filter by vuln fixability (when category is \&quot;vulnerability\&quot;)
func (r ApiGetIssueDiffComparisonSummariesRequest) FilterHasFix(filterHasFix []string) ApiGetIssueDiffComparisonSummariesRequest {
	r.filterHasFix = &filterHasFix
	return r
}

// Filter by vuln upgrade distance (when category is \&quot;vulnerability\&quot;)
func (r ApiGetIssueDiffComparisonSummariesRequest) FilterUpgradeDistance(filterUpgradeDistance []string) ApiGetIssueDiffComparisonSummariesRequest {
	r.filterUpgradeDistance = &filterUpgradeDistance
	return r
}

// Filter by vuln exploit maturity (when category is \&quot;vulnerability\&quot;)
func (r ApiGetIssueDiffComparisonSummariesRequest) FilterExploitMaturity(filterExploitMaturity []string) ApiGetIssueDiffComparisonSummariesRequest {
	r.filterExploitMaturity = &filterExploitMaturity
	return r
}

// Filter by vuln ignore reason (when category is \&quot;vulnerability\&quot;) This value appears in the vulnerabilities.analysis.detail field in CycloneDX SBOM reports 
func (r ApiGetIssueDiffComparisonSummariesRequest) FilterIgnoreReason(filterIgnoreReason []string) ApiGetIssueDiffComparisonSummariesRequest {
	r.filterIgnoreReason = &filterIgnoreReason
	return r
}

// Filter by epss &#39;score&#39; or &#39;percentile&#39;. All fields are required.  Only available to premium users.
func (r ApiGetIssueDiffComparisonSummariesRequest) FilterEpss(filterEpss GetIssueDiffComparisonSummariesFilterEpssParameter) ApiGetIssueDiffComparisonSummariesRequest {
	r.filterEpss = &filterEpss
	return r
}

// Filter issues by their binary dependency confidence level(s)
func (r ApiGetIssueDiffComparisonSummariesRequest) FilterConfidence(filterConfidence []string) ApiGetIssueDiffComparisonSummariesRequest {
	r.filterConfidence = &filterConfidence
	return r
}

func (r ApiGetIssueDiffComparisonSummariesRequest) Execute() (*GetIssueDiffComparisonSummaries200Response, *http.Response, error) {
	return r.ApiService.GetIssueDiffComparisonSummariesExecute(r)
}

/*
GetIssueDiffComparisonSummaries Method for GetIssueDiffComparisonSummaries

Retrieve the counts for the different change statuses when in Issue Comparison mode. Only available for Project Scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetIssueDiffComparisonSummariesRequest
*/
func (a *IssuesAPIService) GetIssueDiffComparisonSummaries(ctx context.Context) ApiGetIssueDiffComparisonSummariesRequest {
	return ApiGetIssueDiffComparisonSummariesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetIssueDiffComparisonSummaries200Response
func (a *IssuesAPIService) GetIssueDiffComparisonSummariesExecute(r ApiGetIssueDiffComparisonSummariesRequest) (*GetIssueDiffComparisonSummaries200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetIssueDiffComparisonSummaries200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssuesAPIService.GetIssueDiffComparisonSummaries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/issues/compare/summaries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.category == nil {
		return localVarReturnValue, nil, reportError("category is required and must be specified")
	}
	if r.scopeType == nil {
		return localVarReturnValue, nil, reportError("scopeType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "category", r.category, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "scope[type]", r.scopeType, "form", "")
	if r.scopeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[id]", r.scopeId, "form", "")
	}
	if r.scopeRevision != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[revision]", r.scopeRevision, "form", "")
	}
	if r.scopeRevisionScanId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[revisionScanId]", r.scopeRevisionScanId, "form", "")
	}
	if r.scopeCompareToRevision != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[compareTo][revision]", r.scopeCompareToRevision, "form", "")
	}
	if r.scopeCompareToChangeStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[compareTo][changeStatus]", r.scopeCompareToChangeStatus, "form", "")
	}
	if r.ids != nil {
		t := *r.ids
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "ids[]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "ids[]", t, "form", "multi")
		}
	}
	if r.filterRevisionIds != nil {
		t := *r.filterRevisionIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[revisionIds][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[revisionIds][]", t, "form", "multi")
		}
	}
	if r.filterSearch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[search]", r.filterSearch, "form", "")
	}
	if r.filterDepths != nil {
		t := *r.filterDepths
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[depths][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[depths][]", t, "form", "multi")
		}
	}
	if r.filterTicketed != nil {
		t := *r.filterTicketed
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[ticketed][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[ticketed][]", t, "form", "multi")
		}
	}
	if r.filterContainerLayers != nil {
		t := *r.filterContainerLayers
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[containerLayers][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[containerLayers][]", t, "form", "multi")
		}
	}
	if r.filterType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[type][]", r.filterType, "form", "")
	}
	if r.filterPackageManagers != nil {
		t := *r.filterPackageManagers
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[packageManagers][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[packageManagers][]", t, "form", "multi")
		}
	}
	if r.filterCwes != nil {
		t := *r.filterCwes
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[cwes][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[cwes][]", t, "form", "multi")
		}
	}
	if r.filterProjectLabels != nil {
		t := *r.filterProjectLabels
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[projectLabels][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[projectLabels][]", t, "form", "multi")
		}
	}
	if r.filterIdentification != nil {
		t := *r.filterIdentification
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[identification][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[identification][]", t, "form", "multi")
		}
	}
	if r.filterSeverity != nil {
		t := *r.filterSeverity
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[severity][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[severity][]", t, "form", "multi")
		}
	}
	if r.filterFoundAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[foundAfter]", r.filterFoundAfter, "form", "")
	}
	if r.filterHasFix != nil {
		t := *r.filterHasFix
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[hasFix][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[hasFix][]", t, "form", "multi")
		}
	}
	if r.filterUpgradeDistance != nil {
		t := *r.filterUpgradeDistance
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[upgradeDistance][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[upgradeDistance][]", t, "form", "multi")
		}
	}
	if r.filterExploitMaturity != nil {
		t := *r.filterExploitMaturity
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[exploitMaturity][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[exploitMaturity][]", t, "form", "multi")
		}
	}
	if r.filterIgnoreReason != nil {
		t := *r.filterIgnoreReason
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[ignoreReason][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[ignoreReason][]", t, "form", "multi")
		}
	}
	if r.filterEpss != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[epss]", r.filterEpss, "deepObject", "")
	}
	if r.filterConfidence != nil {
		t := *r.filterConfidence
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[confidence][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[confidence][]", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 406 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetIssueExceptionsRequest struct {
	ctx context.Context
	ApiService *IssuesAPIService
	filtersCategory *string
	filtersProjectId *string
	filtersReleaseGroupId *int32
	search *string
	sortBy *string
	orderBy *string
	page *int32
	count *int32
}

// Exception category
func (r ApiGetIssueExceptionsRequest) FiltersCategory(filtersCategory string) ApiGetIssueExceptionsRequest {
	r.filtersCategory = &filtersCategory
	return r
}

// Exception project ID
func (r ApiGetIssueExceptionsRequest) FiltersProjectId(filtersProjectId string) ApiGetIssueExceptionsRequest {
	r.filtersProjectId = &filtersProjectId
	return r
}

// Exception release group ID
func (r ApiGetIssueExceptionsRequest) FiltersReleaseGroupId(filtersReleaseGroupId int32) ApiGetIssueExceptionsRequest {
	r.filtersReleaseGroupId = &filtersReleaseGroupId
	return r
}

// Search term (search by created by, revision, note, or package)
func (r ApiGetIssueExceptionsRequest) Search(search string) ApiGetIssueExceptionsRequest {
	r.search = &search
	return r
}

// Sort by field (id, package, created by, and ignore scope)
func (r ApiGetIssueExceptionsRequest) SortBy(sortBy string) ApiGetIssueExceptionsRequest {
	r.sortBy = &sortBy
	return r
}

// Sort order
func (r ApiGetIssueExceptionsRequest) OrderBy(orderBy string) ApiGetIssueExceptionsRequest {
	r.orderBy = &orderBy
	return r
}

// The specific page of data to return
func (r ApiGetIssueExceptionsRequest) Page(page int32) ApiGetIssueExceptionsRequest {
	r.page = &page
	return r
}

// The number of items to return in each page of results
func (r ApiGetIssueExceptionsRequest) Count(count int32) ApiGetIssueExceptionsRequest {
	r.count = &count
	return r
}

func (r ApiGetIssueExceptionsRequest) Execute() (*GetIssueExceptions200Response, *http.Response, error) {
	return r.ApiService.GetIssueExceptionsExecute(r)
}

/*
GetIssueExceptions Method for GetIssueExceptions

List issue ignore rules.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetIssueExceptionsRequest
*/
func (a *IssuesAPIService) GetIssueExceptions(ctx context.Context) ApiGetIssueExceptionsRequest {
	return ApiGetIssueExceptionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetIssueExceptions200Response
func (a *IssuesAPIService) GetIssueExceptionsExecute(r ApiGetIssueExceptionsRequest) (*GetIssueExceptions200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetIssueExceptions200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssuesAPIService.GetIssueExceptions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/issues/exceptions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.filtersCategory == nil {
		return localVarReturnValue, nil, reportError("filtersCategory is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "filters[category]", r.filtersCategory, "form", "")
	if r.filtersProjectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters[projectId]", r.filtersProjectId, "form", "")
	}
	if r.filtersReleaseGroupId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters[releaseGroupId]", r.filtersReleaseGroupId, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", r.sortBy, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "form", "")
	} else {
		var defaultValue int32 = 20
		r.count = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetIssuePackageManagersRequest struct {
	ctx context.Context
	ApiService *IssuesAPIService
	category *string
	scopeType *string
	status *string
	scopeId *string
	scopeRevision *string
	scopeRevisionScanId *int32
	scopeRelease *string
	scopeReleaseScanId *string
}

// Issue category
func (r ApiGetIssuePackageManagersRequest) Category(category string) ApiGetIssuePackageManagersRequest {
	r.category = &category
	return r
}

// Scope of issues to view / update
func (r ApiGetIssuePackageManagersRequest) ScopeType(scopeType string) ApiGetIssuePackageManagersRequest {
	r.scopeType = &scopeType
	return r
}

// Issue status
func (r ApiGetIssuePackageManagersRequest) Status(status string) ApiGetIssuePackageManagersRequest {
	r.status = &status
	return r
}

// Project or release group ID (required when scope[type] is \&quot;project\&quot; or \&quot;releaseGroup\&quot;)
func (r ApiGetIssuePackageManagersRequest) ScopeId(scopeId string) ApiGetIssuePackageManagersRequest {
	r.scopeId = &scopeId
	return r
}

// Revision ID (when scope[type] is \&quot;project\&quot;)
func (r ApiGetIssuePackageManagersRequest) ScopeRevision(scopeRevision string) ApiGetIssuePackageManagersRequest {
	r.scopeRevision = &scopeRevision
	return r
}

// Revision scan ID (when scope[type] is \&quot;project\&quot;)
func (r ApiGetIssuePackageManagersRequest) ScopeRevisionScanId(scopeRevisionScanId int32) ApiGetIssuePackageManagersRequest {
	r.scopeRevisionScanId = &scopeRevisionScanId
	return r
}

// Release group ID (when scope[type] is \&quot;releaseGroup\&quot;)
func (r ApiGetIssuePackageManagersRequest) ScopeRelease(scopeRelease string) ApiGetIssuePackageManagersRequest {
	r.scopeRelease = &scopeRelease
	return r
}

// Release scan ID (when scope[type] is \&quot;releaseGroup\&quot;)
func (r ApiGetIssuePackageManagersRequest) ScopeReleaseScanId(scopeReleaseScanId string) ApiGetIssuePackageManagersRequest {
	r.scopeReleaseScanId = &scopeReleaseScanId
	return r
}

func (r ApiGetIssuePackageManagersRequest) Execute() (*GetIssuePackageManagers200Response, *http.Response, error) {
	return r.ApiService.GetIssuePackageManagersExecute(r)
}

/*
GetIssuePackageManagers Method for GetIssuePackageManagers

Get the set of unique package managers associated with current issues

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetIssuePackageManagersRequest
*/
func (a *IssuesAPIService) GetIssuePackageManagers(ctx context.Context) ApiGetIssuePackageManagersRequest {
	return ApiGetIssuePackageManagersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetIssuePackageManagers200Response
func (a *IssuesAPIService) GetIssuePackageManagersExecute(r ApiGetIssuePackageManagersRequest) (*GetIssuePackageManagers200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetIssuePackageManagers200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssuesAPIService.GetIssuePackageManagers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/issues/package-managers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.category == nil {
		return localVarReturnValue, nil, reportError("category is required and must be specified")
	}
	if r.scopeType == nil {
		return localVarReturnValue, nil, reportError("scopeType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "category", r.category, "form", "")
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "scope[type]", r.scopeType, "form", "")
	if r.scopeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[id]", r.scopeId, "form", "")
	}
	if r.scopeRevision != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[revision]", r.scopeRevision, "form", "")
	}
	if r.scopeRevisionScanId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[revisionScanId]", r.scopeRevisionScanId, "form", "")
	}
	if r.scopeRelease != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[release]", r.scopeRelease, "form", "")
	}
	if r.scopeReleaseScanId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[releaseScanId]", r.scopeReleaseScanId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetIssueStatusesRequest struct {
	ctx context.Context
	ApiService *IssuesAPIService
	category *string
	scopeType *string
	scopeId *string
	scopeRevision *string
	scopeRevisionScanId *int32
	scopeRelease *string
	scopeReleaseScanId *string
	scopeCompareToRevision *string
	scopeCompareToChangeStatus *string
	ids *[]int32
	filterRevisionIds *[]string
	filterSearch *string
	filterDepths *[]string
	filterTicketed *[]string
	filterContainerLayers *[]string
	filterType *GetIssueStatusesFilterTypeParameter
	filterPackageManagers *[]string
	filterProjectLabels *[]string
	filterIdentification *[]string
	filterSeverity *[]string
	filterFoundAfter *string
	filterHasFix *[]string
	filterUpgradeDistance *[]string
	filterExploitMaturity *[]string
	filterIgnoreReason *[]string
	filterLicenses *[]string
}

// Issue category
func (r ApiGetIssueStatusesRequest) Category(category string) ApiGetIssueStatusesRequest {
	r.category = &category
	return r
}

// Scope of issues to view / update
func (r ApiGetIssueStatusesRequest) ScopeType(scopeType string) ApiGetIssueStatusesRequest {
	r.scopeType = &scopeType
	return r
}

// Project or release group ID (required when scope[type] is \&quot;project\&quot; or \&quot;releaseGroup\&quot;)
func (r ApiGetIssueStatusesRequest) ScopeId(scopeId string) ApiGetIssueStatusesRequest {
	r.scopeId = &scopeId
	return r
}

// Revision ID (when scope[type] is \&quot;project\&quot;)
func (r ApiGetIssueStatusesRequest) ScopeRevision(scopeRevision string) ApiGetIssueStatusesRequest {
	r.scopeRevision = &scopeRevision
	return r
}

// Revision scan ID (when scope[type] is \&quot;project\&quot;)
func (r ApiGetIssueStatusesRequest) ScopeRevisionScanId(scopeRevisionScanId int32) ApiGetIssueStatusesRequest {
	r.scopeRevisionScanId = &scopeRevisionScanId
	return r
}

// Release group ID (when scope[type] is \&quot;releaseGroup\&quot;)
func (r ApiGetIssueStatusesRequest) ScopeRelease(scopeRelease string) ApiGetIssueStatusesRequest {
	r.scopeRelease = &scopeRelease
	return r
}

// Release scan ID (when scope[type] is \&quot;releaseGroup\&quot;)
func (r ApiGetIssueStatusesRequest) ScopeReleaseScanId(scopeReleaseScanId string) ApiGetIssueStatusesRequest {
	r.scopeReleaseScanId = &scopeReleaseScanId
	return r
}

// The revision ID to compare issues with. Only availabe for Project Scope.
func (r ApiGetIssueStatusesRequest) ScopeCompareToRevision(scopeCompareToRevision string) ApiGetIssueStatusesRequest {
	r.scopeCompareToRevision = &scopeCompareToRevision
	return r
}

// The status of issues to fetch when comparing issues. - New issues are present in the current revision but not in the comparison revision. - Remediated issues are present in the comparison revision but not in the current revision. - Unchanged issues are present in both revisions. Only available for Project Scope. 
func (r ApiGetIssueStatusesRequest) ScopeCompareToChangeStatus(scopeCompareToChangeStatus string) ApiGetIssueStatusesRequest {
	r.scopeCompareToChangeStatus = &scopeCompareToChangeStatus
	return r
}

// Filter by specific issue IDs
func (r ApiGetIssueStatusesRequest) Ids(ids []int32) ApiGetIssueStatusesRequest {
	r.ids = &ids
	return r
}

// Filter by specific revision IDs
func (r ApiGetIssueStatusesRequest) FilterRevisionIds(filterRevisionIds []string) ApiGetIssueStatusesRequest {
	r.filterRevisionIds = &filterRevisionIds
	return r
}

// Filter by package name or CVE (when category is \&quot;vulnerability\&quot;)
func (r ApiGetIssueStatusesRequest) FilterSearch(filterSearch string) ApiGetIssueStatusesRequest {
	r.filterSearch = &filterSearch
	return r
}

// Filter by issue depth
func (r ApiGetIssueStatusesRequest) FilterDepths(filterDepths []string) ApiGetIssueStatusesRequest {
	r.filterDepths = &filterDepths
	return r
}

// Filter by ticketed status.  Only available to premium users.
func (r ApiGetIssueStatusesRequest) FilterTicketed(filterTicketed []string) ApiGetIssueStatusesRequest {
	r.filterTicketed = &filterTicketed
	return r
}

// Filter by container layer
func (r ApiGetIssueStatusesRequest) FilterContainerLayers(filterContainerLayers []string) ApiGetIssueStatusesRequest {
	r.filterContainerLayers = &filterContainerLayers
	return r
}

// Filter by licensing issue type (when category is \&quot;licensing\&quot;) or quality issue type (when category is \&quot;quality\&quot;) 
func (r ApiGetIssueStatusesRequest) FilterType(filterType GetIssueStatusesFilterTypeParameter) ApiGetIssueStatusesRequest {
	r.filterType = &filterType
	return r
}

// Filter by specific package managers
func (r ApiGetIssueStatusesRequest) FilterPackageManagers(filterPackageManagers []string) ApiGetIssueStatusesRequest {
	r.filterPackageManagers = &filterPackageManagers
	return r
}

// Filter by specific project labels
func (r ApiGetIssueStatusesRequest) FilterProjectLabels(filterProjectLabels []string) ApiGetIssueStatusesRequest {
	r.filterProjectLabels = &filterProjectLabels
	return r
}

// Filter by license identification (when category is \&quot;licensing\&quot;)
func (r ApiGetIssueStatusesRequest) FilterIdentification(filterIdentification []string) ApiGetIssueStatusesRequest {
	r.filterIdentification = &filterIdentification
	return r
}

// Filter by vuln severity (when category is \&quot;vulnerability\&quot;)
func (r ApiGetIssueStatusesRequest) FilterSeverity(filterSeverity []string) ApiGetIssueStatusesRequest {
	r.filterSeverity = &filterSeverity
	return r
}

// Include only issues found on after a given date.  Only available to premium users
func (r ApiGetIssueStatusesRequest) FilterFoundAfter(filterFoundAfter string) ApiGetIssueStatusesRequest {
	r.filterFoundAfter = &filterFoundAfter
	return r
}

// Filter by vuln fixability (when category is \&quot;vulnerability\&quot;)
func (r ApiGetIssueStatusesRequest) FilterHasFix(filterHasFix []string) ApiGetIssueStatusesRequest {
	r.filterHasFix = &filterHasFix
	return r
}

// Filter by vuln upgrade distance (when category is \&quot;vulnerability\&quot;)
func (r ApiGetIssueStatusesRequest) FilterUpgradeDistance(filterUpgradeDistance []string) ApiGetIssueStatusesRequest {
	r.filterUpgradeDistance = &filterUpgradeDistance
	return r
}

// Filter by vuln exploit maturity (when category is \&quot;vulnerability\&quot;)
func (r ApiGetIssueStatusesRequest) FilterExploitMaturity(filterExploitMaturity []string) ApiGetIssueStatusesRequest {
	r.filterExploitMaturity = &filterExploitMaturity
	return r
}

// Filter by vuln ignore reason (when category is \&quot;vulnerability\&quot;) This value appears in the vulnerabilities.analysis.detail field in CycloneDX SBOM reports 
func (r ApiGetIssueStatusesRequest) FilterIgnoreReason(filterIgnoreReason []string) ApiGetIssueStatusesRequest {
	r.filterIgnoreReason = &filterIgnoreReason
	return r
}

// Filter by issues affected by a set of license ID&#39;s (when category is \&quot;licensing\&quot;)
func (r ApiGetIssueStatusesRequest) FilterLicenses(filterLicenses []string) ApiGetIssueStatusesRequest {
	r.filterLicenses = &filterLicenses
	return r
}

func (r ApiGetIssueStatusesRequest) Execute() (*GetIssueStatuses200Response, *http.Response, error) {
	return r.ApiService.GetIssueStatusesExecute(r)
}

/*
GetIssueStatuses Method for GetIssueStatuses

Get a count of issues by status, matching the provided filters

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetIssueStatusesRequest
*/
func (a *IssuesAPIService) GetIssueStatuses(ctx context.Context) ApiGetIssueStatusesRequest {
	return ApiGetIssueStatusesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetIssueStatuses200Response
func (a *IssuesAPIService) GetIssueStatusesExecute(r ApiGetIssueStatusesRequest) (*GetIssueStatuses200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetIssueStatuses200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssuesAPIService.GetIssueStatuses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/issues/statuses"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.category == nil {
		return localVarReturnValue, nil, reportError("category is required and must be specified")
	}
	if r.scopeType == nil {
		return localVarReturnValue, nil, reportError("scopeType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "category", r.category, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "scope[type]", r.scopeType, "form", "")
	if r.scopeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[id]", r.scopeId, "form", "")
	}
	if r.scopeRevision != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[revision]", r.scopeRevision, "form", "")
	}
	if r.scopeRevisionScanId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[revisionScanId]", r.scopeRevisionScanId, "form", "")
	}
	if r.scopeRelease != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[release]", r.scopeRelease, "form", "")
	}
	if r.scopeReleaseScanId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[releaseScanId]", r.scopeReleaseScanId, "form", "")
	}
	if r.scopeCompareToRevision != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[compareTo][revision]", r.scopeCompareToRevision, "form", "")
	}
	if r.scopeCompareToChangeStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope[compareTo][changeStatus]", r.scopeCompareToChangeStatus, "form", "")
	}
	if r.ids != nil {
		t := *r.ids
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "ids[]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "ids[]", t, "form", "multi")
		}
	}
	if r.filterRevisionIds != nil {
		t := *r.filterRevisionIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[revisionIds][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[revisionIds][]", t, "form", "multi")
		}
	}
	if r.filterSearch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[search]", r.filterSearch, "form", "")
	}
	if r.filterDepths != nil {
		t := *r.filterDepths
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[depths][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[depths][]", t, "form", "multi")
		}
	}
	if r.filterTicketed != nil {
		t := *r.filterTicketed
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[ticketed][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[ticketed][]", t, "form", "multi")
		}
	}
	if r.filterContainerLayers != nil {
		t := *r.filterContainerLayers
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[containerLayers][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[containerLayers][]", t, "form", "multi")
		}
	}
	if r.filterType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[type][]", r.filterType, "form", "")
	}
	if r.filterPackageManagers != nil {
		t := *r.filterPackageManagers
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[packageManagers][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[packageManagers][]", t, "form", "multi")
		}
	}
	if r.filterProjectLabels != nil {
		t := *r.filterProjectLabels
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[projectLabels][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[projectLabels][]", t, "form", "multi")
		}
	}
	if r.filterIdentification != nil {
		t := *r.filterIdentification
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[identification][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[identification][]", t, "form", "multi")
		}
	}
	if r.filterSeverity != nil {
		t := *r.filterSeverity
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[severity][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[severity][]", t, "form", "multi")
		}
	}
	if r.filterFoundAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[foundAfter]", r.filterFoundAfter, "form", "")
	}
	if r.filterHasFix != nil {
		t := *r.filterHasFix
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[hasFix][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[hasFix][]", t, "form", "multi")
		}
	}
	if r.filterUpgradeDistance != nil {
		t := *r.filterUpgradeDistance
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[upgradeDistance][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[upgradeDistance][]", t, "form", "multi")
		}
	}
	if r.filterExploitMaturity != nil {
		t := *r.filterExploitMaturity
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[exploitMaturity][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[exploitMaturity][]", t, "form", "multi")
		}
	}
	if r.filterIgnoreReason != nil {
		t := *r.filterIgnoreReason
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[ignoreReason][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[ignoreReason][]", t, "form", "multi")
		}
	}
	if r.filterLicenses != nil {
		t := *r.filterLicenses
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[licenses][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[licenses][]", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetGitHubAppInstallationUrl403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
[...]
