openapi: 3.1.0
info:
  contact:
    email: support@fossa.com
    name: FOSSA
    url: fossa.com
  description: OpenAPI Specification for public FOSSA APIs
  title: FOSSA API
  version: 4.33.12
externalDocs:
  description: product documentation and product guides
  url: https://docs.fossa.com
servers:
- description: FOSSA's production api server (for cloud only)
  url: https://app.fossa.com/api
tags:
- description: Issues with a given project or package
  name: Issues
- description: "Saved issue filters, including sort and group options"
  name: Issue Filters
- description: APIs supporting the Issue Overview dashboard
  name: Issue Overview
- description: Projects within your organization
  name: Projects
- description: Revisions in a project
  name: Revisions
- description: Dependencies of a given project or release group
  name: Dependencies
- description: Related to the FOSSA CLI tool
  name: CLI
- description: Related to labels for your organization's projects
  name: Organization Labels
- description: Related to project-level labels
  name: Project Labels
- description: Related to package-level labels
  name: Package Labels
- description: APIs for viewing details about the packages used across your organization
  name: Package Observability
- description: Release groups within your organization
  name: Release Groups
- description: APIs related to Software Bill of Materials (SBOM) functionality
  name: SBOM
- description: APIs supporting vulnerabilities
  name: Vulnerabilities
- description: APIs supporting organization settings
  name: Organization Settings
- description: APIs supporting Jira integration configuration
  name: Jira Integration Settings
- description: APIs supporting builds for a given project or revision
  name: Builds
- description: APIs to manage your organization's Portal
  name: Portal
- description: APIs to manage audit logs
  name: Audit Logs
- description: APIs for managing your organization
  name: Organization Limits
- description: APIs to upload components
  name: Components
- description: APIs for managing custom risk scores on issues
  name: Custom Risk Scores
- description: APIs to manage Users
  name: Users
- description: APIs to manage Teams
  name: Teams
- description: APIs to manage Team Groups
  name: Team Groups
- description: APIs to manage Roles
  name: Roles
- description: Manage GitHub App integration
  name: GitHub App
- description: APIs related to Binary Decomposition functionality
  name: Binary
- description: APIs for managing OIDC authentication providers and trust relationships
  name: OIDC
- description: APIs related to the Snippet Detection feature
  name: Snippets
- description: APIs for managing license conclusions on dependencies
  name: License Conclusions
- description: APIs for managing policies
  name: Policies
- description: APIs for managing saved report options
  name: Report Options
paths:
  /license-conclusions/conclude:
    put:
      description: Add a license to the license conclusions for a dependency revision.
        Requires Edit permission on the dependency revision.
      operationId: addLicenseConclusion
      requestBody:
        content:
          application/json:
            examples:
              projectScope:
                summary: Project-scoped conclusion
                value:
                  dependencyRevisionLocator: npm+lodash$4.17.21
                  scope:
                    scope: PROJECT
                    projectLocator: git+github.com/fossas/fossa-cli$main
                  licenseId: MIT
                  originId: git+github.com/fossas/fossa-cli$main
              revisionScope:
                summary: Revision-scoped conclusion
                value:
                  dependencyRevisionLocator: npm+lodash$4.17.21
                  scope:
                    scope: REVISION
                    projectLocator: git+github.com/fossas/fossa-cli$main
                    revisionLocator: git+github.com/fossas/fossa-cli$abc123
                  licenseId: MIT
              releaseGroupScope:
                summary: Release group-scoped conclusion
                value:
                  dependencyRevisionLocator: npm+lodash$4.17.21
                  scope:
                    scope: RELEASE_GROUP
                    releaseGroupId: 123
                  licenseId: MIT
                  originId: "456"
            schema:
              $ref: "#/components/schemas/addLicenseConclusion_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                licenseConclusionResponse:
                  value:
                    dependencyRevisionLocator: npm+lodash$4.17.21
                    scope: PROJECT
                    scopeId: git+github.com/fossas/fossa-cli$main
                    concludedLicenses:
                    - MIT
                    - Apache-2.0
                    createdAt: 2024-01-15T10:30:00Z
                    updatedAt: 2024-01-15T10:30:00Z
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_201_response"
          description: License conclusion added successfully
        "400":
          content:
            application/json:
              examples:
                invalidRequest:
                  summary: Invalid request body
                  value:
                    error: "Invalid request body: missing required field"
                missingScopeId:
                  summary: Missing scopeId for scoped conclusion
                  value:
                    error: scopeId is required for project/revision scopes
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  summary: Insufficient permissions
                  value:
                    error: You do not have permission to edit license conclusions
                      for this scope
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                revisionNotFound:
                  summary: Origin revision not found
                  value:
                    error: Origin revision with locator git+github.com/fossas/fossa-cli$abc123
                      not found or you don't have access
                releaseNotFound:
                  summary: Origin release not found
                  value:
                    error: Origin release with locator 123 not found or you don't
                      have access
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Not Found
      security:
      - ApiToken: []
      tags:
      - License Conclusions
  /license-conclusions/unconclude:
    put:
      description: Remove a license from the license conclusions for a dependency
        revision. Requires Edit permission for the dependency revision.
      operationId: removeLicenseConclusion
      requestBody:
        content:
          application/json:
            examples:
              projectScope:
                summary: Project-scoped conclusion
                value:
                  dependencyRevisionLocator: npm+lodash$4.17.21
                  scope:
                    scope: PROJECT
                    projectLocator: git+github.com/fossas/fossa-cli$main
                  licenseId: MIT
                  originId: git+github.com/fossas/fossa-cli$main
              revisionScope:
                summary: Revision-scoped conclusion
                value:
                  dependencyRevisionLocator: npm+lodash$4.17.21
                  scope:
                    scope: REVISION
                    projectLocator: git+github.com/fossas/fossa-cli$main
                    revisionLocator: git+github.com/fossas/fossa-cli$abc123
                  licenseId: MIT
              releaseGroupScope:
                summary: Release group-scoped conclusion
                value:
                  dependencyRevisionLocator: npm+lodash$4.17.21
                  scope:
                    scope: RELEASE_GROUP
                    releaseGroupId: 123
                  licenseId: MIT
                  originId: "456"
              globalScope:
                summary: Global-scoped conclusion
                value:
                  dependencyRevisionLocator: npm+lodash$4.17.21
                  scope:
                    scope: GLOBAL
                  licenseId: MIT
            schema:
              $ref: "#/components/schemas/addLicenseConclusion_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                licenseConclusionResponse:
                  summary: License removed from conclusions
                  value:
                    dependencyRevisionLocator: npm+lodash$4.17.21
                    scope: PROJECT
                    scopeId: git+github.com/fossas/fossa-cli$main
                    concludedLicenses:
                    - Apache-2.0
                    createdAt: 2024-01-15T10:30:00Z
                    updatedAt: 2024-01-15T11:00:00Z
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_201_response"
          description: License conclusion removed successfully
        "400":
          content:
            application/json:
              examples:
                invalidRequest:
                  summary: Invalid request body
                  value:
                    error: "Invalid request body: missing required field"
                missingScopeId:
                  summary: Missing scopeId for scoped conclusion
                  value:
                    error: scopeId is required for project/revision scopes
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  summary: Insufficient permissions
                  value:
                    error: You do not have permission to edit license conclusions
                      for this scope
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                revisionNotFound:
                  summary: Origin revision not found
                  value:
                    error: Origin revision with locator git+github.com/fossas/fossa-cli$abc123
                      not found or you don't have access
                releaseNotFound:
                  summary: Origin release not found
                  value:
                    error: Origin release with locator 123 not found or you don't
                      have access
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Not Found
      security:
      - ApiToken: []
      tags:
      - License Conclusions
  /services/github-app/installation-url:
    get:
      description: Redirects to the GitHub App installation page.
      operationId: getGitHubAppInstallationUrl
      responses:
        "302":
          description: Redirects to the GitHub App installation page.
        "403":
          content:
            application/json:
              examples:
                No permission:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2005
                    message: User does not have permission to view this resource
                    name: ForbiddenError
                    httpStatusCode: 403
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Forbidden
        "500":
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2009
                    message: "Sorry, we've encountered an unexpected error. We've\
                      \ recorded it. If you continue to see this, contact support\
                      \ at support@fossa.com and include the unique reference code:\
                      \ 00000000-0000-0000-0000-000000000000"
                    name: InternalServerError
                    httpStatusCode: 500
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Server Error
      security:
      - ApiToken: []
      tags:
      - GitHub App
      x-internal: true
  /v2/issues/categories:
    get:
      description: Get the number of active issues by category
      operationId: getIssuesByCategory
      parameters:
      - description: Scope of issues to view / update
        explode: true
        in: query
        name: "scope[type]"
        required: true
        schema:
          enum:
          - global
          - project
          - releaseGroup
          type: string
        style: form
      - description: "Project or release group ID (required when scope[type] is \"\
          project\" or \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[id]"
        required: false
        schema:
          type: string
        style: form
      - description: "Revision ID (when scope[type] is \"project\")"
        explode: true
        in: query
        name: "scope[revision]"
        required: false
        schema:
          type: string
        style: form
      - description: "Revision scan ID (when scope[type] is \"project\")"
        explode: true
        in: query
        name: "scope[revisionScanId]"
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Release group ID (when scope[type] is \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[release]"
        required: false
        schema:
          type: string
        style: form
      - description: "Release scan ID (when scope[type] is \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[releaseScanId]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getIssuesByCategory_200_response"
          description: Number of active issues for each issue category
        "202":
          content:
            application/json:
              examples:
                analyzing:
                  value:
                    message: analysis in-progress
                    licensing: 0
                    quality: 0
                    vulnerability: 0
              schema:
                $ref: "#/components/schemas/getIssuesByCategory_202_response"
          description: Empty results with a message indicating the scoped project's
            build status
        "400":
          content:
            application/json:
              examples:
                Bad Request Parameter/Body:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2003
                    message: "Parse error at root.X: ..."
                    name: BadRequestError
                    httpStatusCode: 400
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                No team Access:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2005
                    message: You are not permitted to view this team.
                    name: ForbiddenError
                    httpStatusCode: 403
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Forbidden
        "500":
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2009
                    message: "Sorry, we've encountered an unexpected error. We've\
                      \ recorded it. If you continue to see this, contact support\
                      \ at support@fossa.com and include the unique reference code:\
                      \ 00000000-0000-0000-0000-000000000000"
                    name: InternalServerError
                    httpStatusCode: 500
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Server Error
      security:
      - ApiToken: []
      tags:
      - Issues
  /v2/issues/types:
    get:
      description: Get the number of active issues by type
      operationId: getIssuesByType
      parameters:
      - description: Scope of issues to view / update
        explode: true
        in: query
        name: "scope[type]"
        required: true
        schema:
          enum:
          - global
          - project
          - releaseGroup
          type: string
        style: form
      - description: "Project or release group ID (required when scope[type] is \"\
          project\" or \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[id]"
        required: false
        schema:
          type: string
        style: form
      - description: "Revision ID (when scope[type] is \"project\")"
        explode: true
        in: query
        name: "scope[revision]"
        required: false
        schema:
          type: string
        style: form
      - description: "Revision scan ID (when scope[type] is \"project\")"
        explode: true
        in: query
        name: "scope[revisionScanId]"
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Release group ID (when scope[type] is \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[release]"
        required: false
        schema:
          type: string
        style: form
      - description: "Release scan ID (when scope[type] is \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[releaseScanId]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getIssuesByType_200_response"
          description: Number of active issues for each issue type
        "202":
          content:
            application/json:
              examples:
                analyzing:
                  value:
                    message: analysis in-progress
                    policy_conflict: 0
                    policy_flag: 0
                    unlicensed_dependency: 0
                    outdated_dependency: 0
                    vulnerability: 0
              schema:
                $ref: "#/components/schemas/getIssuesByType_202_response"
          description: Empty results with a message indicating the scoped project's
            build status
        "400":
          content:
            application/json:
              examples:
                Bad Request Parameter/Body:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2003
                    message: "Parse error at root.X: ..."
                    name: BadRequestError
                    httpStatusCode: 400
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                No team Access:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2005
                    message: You are not permitted to view this team.
                    name: ForbiddenError
                    httpStatusCode: 403
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Forbidden
        "500":
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2009
                    message: "Sorry, we've encountered an unexpected error. We've\
                      \ recorded it. If you continue to see this, contact support\
                      \ at support@fossa.com and include the unique reference code:\
                      \ 00000000-0000-0000-0000-000000000000"
                    name: InternalServerError
                    httpStatusCode: 500
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Server Error
      security:
      - ApiToken: []
      tags:
      - Issues
  /v2/issues/statuses:
    get:
      description: "Get a count of issues by status, matching the provided filters"
      operationId: getIssueStatuses
      parameters:
      - description: Issue category
        explode: true
        in: query
        name: category
        required: true
        schema:
          enum:
          - licensing
          - vulnerability
          - quality
          type: string
        style: form
      - description: Scope of issues to view / update
        explode: true
        in: query
        name: "scope[type]"
        required: true
        schema:
          enum:
          - global
          - project
          - releaseGroup
          type: string
        style: form
      - description: "Project or release group ID (required when scope[type] is \"\
          project\" or \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[id]"
        required: false
        schema:
          type: string
        style: form
      - description: "Revision ID (when scope[type] is \"project\")"
        explode: true
        in: query
        name: "scope[revision]"
        required: false
        schema:
          type: string
        style: form
      - description: "Revision scan ID (when scope[type] is \"project\")"
        explode: true
        in: query
        name: "scope[revisionScanId]"
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Release group ID (when scope[type] is \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[release]"
        required: false
        schema:
          type: string
        style: form
      - description: "Release scan ID (when scope[type] is \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[releaseScanId]"
        required: false
        schema:
          type: string
        style: form
      - description: The revision ID to compare issues with. Only available for Project
          Scope.
        explode: true
        in: query
        name: "scope[compareTo][revision]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          The status of issues to fetch when comparing issues. - New issues are present in the current revision but not in the comparison revision. - Remediated issues are present in the comparison revision but not in the current revision. - Unchanged issues are present in both revisions. Only available for Project Scope.
        explode: true
        in: query
        name: "scope[compareTo][changeStatus]"
        required: false
        schema:
          enum:
          - new
          - remediated
          - unchanged
          type: string
        style: form
      - description: Filter by specific issue IDs
        explode: true
        in: query
        name: "ids[]"
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: Filter by specific revision IDs
        explode: true
        in: query
        name: "filter[revisionIds][]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by package name or CVE (when category is "vulnerability")
        explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - description: Filter by issue depth
        explode: true
        in: query
        name: "filter[depths][]"
        required: false
        schema:
          items:
            enum:
            - direct
            - deep
            type: string
          type: array
        style: form
      - description: Filter by ticketed status.  Only available to premium users.
        explode: true
        in: query
        name: "filter[ticketed][]"
        required: false
        schema:
          items:
            enum:
            - jira
            - custom
            - has_ticket
            - no_ticket
            type: string
          type: array
        style: form
      - description: Filter by container layer
        explode: true
        in: query
        name: "filter[containerLayers][]"
        required: false
        schema:
          items:
            enum:
            - baseLayer
            - otherLayer
            type: string
          type: array
        style: form
      - description: |
          Filter by licensing issue type (when category is "licensing") or quality issue type (when category is "quality")
        explode: true
        in: query
        name: "filter[type][]"
        required: false
        schema:
          $ref: "#/components/schemas/getIssueStatuses_filter_type____parameter"
        style: form
      - description: Filter by specific package managers
        explode: true
        in: query
        name: "filter[packageManagers][]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by specific project labels
        explode: true
        in: query
        name: "filter[projectLabels][]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by license identification (when category is "licensing")
        explode: true
        in: query
        name: "filter[identification][]"
        required: false
        schema:
          items:
            enum:
            - declared
            - discovered
            type: string
          type: array
        style: form
      - description: Filter by vuln severity (when category is "vulnerability")
        explode: true
        in: query
        name: "filter[severity][]"
        required: false
        schema:
          items:
            enum:
            - critical
            - high
            - medium
            - low
            - unknown
            type: string
          type: array
        style: form
      - description: Include only issues found on after a given ISO timestamp.  Only
          available to premium users
        explode: true
        in: query
        name: "filter[foundAfter]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter by vuln fixability (when category is "vulnerability")
        explode: true
        in: query
        name: "filter[hasFix][]"
        required: false
        schema:
          items:
            enum:
            - has_fix
            - no_fix
            type: string
          type: array
        style: form
      - description: Filter by vuln upgrade distance (when category is "vulnerability")
        explode: true
        in: query
        name: "filter[upgradeDistance][]"
        required: false
        schema:
          items:
            enum:
            - none
            - major
            - minor
            - patch
            - unknown
            type: string
          type: array
        style: form
      - description: Filter by vuln exploit maturity (when category is "vulnerability")
        explode: true
        in: query
        name: "filter[exploitMaturity][]"
        required: false
        schema:
          items:
            enum:
            - has_known_exploit
            - no_known_exploit
            type: string
          type: array
        style: form
      - description: |
          Filter by vuln ignore reason (when category is "vulnerability") This value appears in the vulnerabilities.analysis.detail field in CycloneDX SBOM reports
        explode: true
        in: query
        name: "filter[ignoreReason][]"
        required: false
        schema:
          items:
            description: |
              Provided reason for ignoring or resolving a security issue. 'Fixed' and 'Under_investigation' map to VEX statuses with the same names. All other values map to the VEX status 'Not Affected'. This value appears in the vulnerabilities.analysis.justification field of CycloneDX SBOM reports.
            enum:
            - Fixed
            - Under_investigation
            - Vulnerable_code_not_present
            - Vulnerable_code_cannot_be_controlled
            - Component_not_present
            - Vulnerable_code_not_in_execute_path
            - Inline_mitigations_already_exist
            - incorrect_data_found
            - other
            type: string
          type: array
        style: form
      - description: Filter by issues affected by a set of license ID's (when category
          is "licensing")
        explode: true
        in: query
        name: "filter[licenses][]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Filter by issue source. Use 'dependency' and 'snippet' to filter by whether the issue comes from a dependency or a code snippet. When the vendored dependency detection feature is enabled, use 'managed-dependency' and 'vendored-dependency' to filter dependency issues by whether the dependency is managed or vendored.
        explode: true
        in: query
        name: "filter[issueSource][]"
        required: false
        schema:
          $ref: "#/components/schemas/getIssueStatuses_filter_issueSource____parameter"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getIssueStatuses_200_response"
          description: Number of matching issues and revisions
        "202":
          content:
            application/json:
              examples:
                analyzing:
                  value:
                    message: analysis in-progress
                    issues:
                      active: 0
                      ignored: 0
                    revision:
                      active: 0
                      ignored: 0
              schema:
                $ref: "#/components/schemas/getIssueStatuses_202_response"
          description: Empty results with a message indicating the scoped project's
            build status
        "400":
          content:
            application/json:
              examples:
                Bad Request Parameter/Body:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2003
                    message: "Parse error at root.X: ..."
                    name: BadRequestError
                    httpStatusCode: 400
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                No team Access:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2005
                    message: You are not permitted to view this team.
                    name: ForbiddenError
                    httpStatusCode: 403
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Forbidden
        "500":
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2009
                    message: "Sorry, we've encountered an unexpected error. We've\
                      \ recorded it. If you continue to see this, contact support\
                      \ at support@fossa.com and include the unique reference code:\
                      \ 00000000-0000-0000-0000-000000000000"
                    name: InternalServerError
                    httpStatusCode: 500
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Server Error
      security:
      - ApiToken: []
      tags:
      - Issues
  /v2/issues/compare/summaries:
    get:
      description: Retrieve the counts for the different change statuses when in Issue
        Comparison mode. Supports both Project (revision comparison) and Release Group
        (release comparison) scopes.
      operationId: getIssueDiffComparisonSummaries
      parameters:
      - description: Issue category
        explode: true
        in: query
        name: category
        required: true
        schema:
          enum:
          - licensing
          - vulnerability
          - quality
          type: string
        style: form
      - description: Scope of issues to view
        explode: true
        in: query
        name: "scope[type]"
        required: true
        schema:
          enum:
          - project
          - releaseGroup
          type: string
        style: form
      - description: "Project or release group ID (required when scope[type] is \"\
          project\" or \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[id]"
        required: false
        schema:
          type: string
        style: form
      - description: "Revision ID (when scope[type] is \"project\")"
        explode: true
        in: query
        name: "scope[revision]"
        required: false
        schema:
          type: string
        style: form
      - description: "Revision scan ID (when scope[type] is \"project\")"
        explode: true
        in: query
        name: "scope[revisionScanId]"
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Release group ID (when scope[type] is \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[release]"
        required: false
        schema:
          type: string
        style: form
      - description: "Release scan ID (when scope[type] is \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[releaseScanId]"
        required: false
        schema:
          type: string
        style: form
      - description: The revision ID to compare issues with. Only available for Project
          Scope.
        explode: true
        in: query
        name: "scope[compareTo][revision]"
        required: false
        schema:
          type: string
        style: form
      - description: The release ID to compare issues with. Only available for Release
          Group Scope.
        explode: true
        in: query
        name: "scope[compareTo][release]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          The status of issues to fetch when comparing issues. - New issues are present in the current revision but not in the comparison revision. - Remediated issues are present in the comparison revision but not in the current revision. - Unchanged issues are present in both revisions. Only available for Project Scope.
        explode: true
        in: query
        name: "scope[compareTo][changeStatus]"
        required: false
        schema:
          enum:
          - new
          - remediated
          - unchanged
          type: string
        style: form
      - description: Filter by specific issue IDs
        explode: true
        in: query
        name: "ids[]"
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: Filter by specific revision IDs
        explode: true
        in: query
        name: "filter[revisionIds][]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by package name or CVE (when category is "vulnerability")
        explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - description: Filter by issue depth
        explode: true
        in: query
        name: "filter[depths][]"
        required: false
        schema:
          items:
            enum:
            - direct
            - deep
            type: string
          type: array
        style: form
      - description: Filter by ticketed status.  Only available to premium users.
        explode: true
        in: query
        name: "filter[ticketed][]"
        required: false
        schema:
          items:
            enum:
            - jira
            - custom
            - has_ticket
            - no_ticket
            type: string
          type: array
        style: form
      - description: Filter by container layer
        explode: true
        in: query
        name: "filter[containerLayers][]"
        required: false
        schema:
          items:
            enum:
            - baseLayer
            - otherLayer
            type: string
          type: array
        style: form
      - description: |
          Filter by licensing issue type (when category is "licensing") or quality issue type (when category is "quality")
        explode: true
        in: query
        name: "filter[type][]"
        required: false
        schema:
          $ref: "#/components/schemas/getIssueStatuses_filter_type____parameter"
        style: form
      - description: Filter by specific package managers
        explode: true
        in: query
        name: "filter[packageManagers][]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by specific CWE identifiers
        explode: true
        in: query
        name: "filter[cwes][]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by specific project labels
        explode: true
        in: query
        name: "filter[projectLabels][]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by license identification (when category is "licensing")
        explode: true
        in: query
        name: "filter[identification][]"
        required: false
        schema:
          items:
            enum:
            - declared
            - discovered
            type: string
          type: array
        style: form
      - description: Filter by vuln severity (when category is "vulnerability")
        explode: true
        in: query
        name: "filter[severity][]"
        required: false
        schema:
          items:
            enum:
            - critical
            - high
            - medium
            - low
            - unknown
            type: string
          type: array
        style: form
      - description: Include only issues found on after a given ISO timestamp.  Only
          available to premium users
        explode: true
        in: query
        name: "filter[foundAfter]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter by vuln fixability (when category is "vulnerability")
        explode: true
        in: query
        name: "filter[hasFix][]"
        required: false
        schema:
          items:
            enum:
            - has_fix
            - no_fix
            type: string
          type: array
        style: form
      - description: Filter by vuln upgrade distance (when category is "vulnerability")
        explode: true
        in: query
        name: "filter[upgradeDistance][]"
        required: false
        schema:
          items:
            enum:
            - none
            - major
            - minor
            - patch
            - unknown
            type: string
          type: array
        style: form
      - description: Filter by vuln exploit maturity (when category is "vulnerability")
        explode: true
        in: query
        name: "filter[exploitMaturity][]"
        required: false
        schema:
          items:
            enum:
            - has_known_exploit
            - no_known_exploit
            type: string
          type: array
        style: form
      - description: |
          Filter by vuln ignore reason (when category is "vulnerability") This value appears in the vulnerabilities.analysis.detail field in CycloneDX SBOM reports
        explode: true
        in: query
        name: "filter[ignoreReason][]"
        required: false
        schema:
          items:
            description: |
              Provided reason for ignoring or resolving a security issue. 'Fixed' and 'Under_investigation' map to VEX statuses with the same names. All other values map to the VEX status 'Not Affected'. This value appears in the vulnerabilities.analysis.justification field of CycloneDX SBOM reports.
            enum:
            - Fixed
            - Under_investigation
            - Vulnerable_code_not_present
            - Vulnerable_code_cannot_be_controlled
            - Component_not_present
            - Vulnerable_code_not_in_execute_path
            - Inline_mitigations_already_exist
            - incorrect_data_found
            - other
            type: string
          type: array
        style: form
      - description: Filter by epss 'score' or 'percentile'. All fields are required.  Only
          available to premium users.
        examples:
          filterByScore:
            summary: Filter to issues with a score between 0.1 and 0.25 (inclusive)
            value:
              type: score
              min: 0.01
              max: 0.25
          filterByPercentile:
            summary: Filter to issues above the 85th percentile (inclusive)
            value:
              type: percentile
              min: 0.85
              max: 1
        explode: true
        in: query
        name: "filter[epss]"
        required: false
        schema:
          $ref: "#/components/schemas/getIssueDiffComparisonSummaries_filter_epss__parameter"
        style: deepObject
      - description: Filter issues by their binary dependency confidence level(s)
        explode: true
        in: query
        name: "filter[confidence][]"
        required: false
        schema:
          items:
            enum:
            - High
            - Medium
            - Low
            - Unknown
            type: string
          type: array
        style: form
      - description: |
          Filter by issue source. Use 'dependency' and 'snippet' to filter by whether the issue comes from a dependency or a code snippet. When the vendored dependency detection feature is enabled, use 'managed-dependency' and 'vendored-dependency' to filter dependency issues by whether the dependency is managed or vendored.
        explode: true
        in: query
        name: "filter[issueSource][]"
        required: false
        schema:
          $ref: "#/components/schemas/getIssueStatuses_filter_issueSource____parameter"
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                summaries:
                  value:
                    issues:
                      new: 10
                      remediated: 5
                      unchanged: 3
                    revisions:
                      new: 10
                      remediated: 5
                      unchanged: 3
              schema:
                $ref: "#/components/schemas/getIssueDiffComparisonSummaries_200_response"
          description: "Vulnerability, licensing, or quality issues response"
        "400":
          content:
            application/json:
              examples:
                Bad Request Parameter/Body:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2003
                    message: "Parse error at root.X: ..."
                    name: BadRequestError
                    httpStatusCode: 400
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                No team Access:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2005
                    message: You are not permitted to view this team.
                    name: ForbiddenError
                    httpStatusCode: 403
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Forbidden
        "406":
          content:
            application/json:
              examples:
                Invalid Accept:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2015
                    message: "Invalid accept:"
                    name: NotAcceptableError
                    httpStatusCode: 406
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Not Acceptable
        "500":
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2009
                    message: "Sorry, we've encountered an unexpected error. We've\
                      \ recorded it. If you continue to see this, contact support\
                      \ at support@fossa.com and include the unique reference code:\
                      \ 00000000-0000-0000-0000-000000000000"
                    name: InternalServerError
                    httpStatusCode: 500
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Server Error
      security:
      - ApiToken: []
      tags:
      - Issues
  /v2/issues/license-list:
    get:
      description: "Get a sorted list of license ID's, matching the provided filters"
      operationId: getLicenseList
      parameters:
      - description: Issue category (must be licensing)
        explode: true
        in: query
        name: category
        required: true
        schema:
          enum:
          - licensing
          type: string
        style: form
      - description: Scope of issues to view / update
        explode: true
        in: query
        name: "scope[type]"
        required: true
        schema:
          enum:
          - global
          - project
          - releaseGroup
          type: string
        style: form
      - description: "Project or release group ID (required when scope[type] is \"\
          project\" or \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[id]"
        required: false
        schema:
          type: string
        style: form
      - description: "Revision ID (when scope[type] is \"project\")"
        explode: true
        in: query
        name: "scope[revision]"
        required: false
        schema:
          type: string
        style: form
      - description: "Revision scan ID (when scope[type] is \"project\")"
        explode: true
        in: query
        name: "scope[revisionScanId]"
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Release group ID (when scope[type] is \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[release]"
        required: false
        schema:
          type: string
        style: form
      - description: "Release scan ID (when scope[type] is \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[releaseScanId]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getLicenseList_200_response"
          description: List of licenses
        "202":
          content:
            application/json:
              examples:
                analyzing:
                  value:
                    message: analysis in-progress
                    data: []
              schema:
                $ref: "#/components/schemas/getLicenseList_202_response"
          description: Empty results with a message indicating the scoped project's
            build status
        "400":
          content:
            application/json:
              examples:
                Bad Request Parameter/Body:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2003
                    message: "Parse error at root.X: ..."
                    name: BadRequestError
                    httpStatusCode: 400
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                No team Access:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2005
                    message: You are not permitted to view this team.
                    name: ForbiddenError
                    httpStatusCode: 403
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Forbidden
        "500":
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2009
                    message: "Sorry, we've encountered an unexpected error. We've\
                      \ recorded it. If you continue to see this, contact support\
                      \ at support@fossa.com and include the unique reference code:\
                      \ 00000000-0000-0000-0000-000000000000"
                    name: InternalServerError
                    httpStatusCode: 500
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Server Error
      security:
      - ApiToken: []
      tags:
      - Issues
  /v2/issues/package-managers:
    get:
      description: Get the set of unique package managers associated with current
        issues
      operationId: getIssuePackageManagers
      parameters:
      - description: Issue category
        explode: true
        in: query
        name: category
        required: true
        schema:
          enum:
          - licensing
          - vulnerability
          - quality
          type: string
        style: form
      - description: Issue status
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - active
          - ignored
          type: string
        style: form
      - description: Scope of issues to view / update
        explode: true
        in: query
        name: "scope[type]"
        required: true
        schema:
          enum:
          - global
          - project
          - releaseGroup
          type: string
        style: form
      - description: "Project or release group ID (required when scope[type] is \"\
          project\" or \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[id]"
        required: false
        schema:
          type: string
        style: form
      - description: "Revision ID (when scope[type] is \"project\")"
        explode: true
        in: query
        name: "scope[revision]"
        required: false
        schema:
          type: string
        style: form
      - description: "Revision scan ID (when scope[type] is \"project\")"
        explode: true
        in: query
        name: "scope[revisionScanId]"
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Release group ID (when scope[type] is \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[release]"
        required: false
        schema:
          type: string
        style: form
      - description: "Release scan ID (when scope[type] is \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[releaseScanId]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getIssuePackageManagers_200_response"
          description: Unique package managers associated with current issues
        "202":
          content:
            application/json:
              examples:
                analyzing:
                  value:
                    message: analysis in-progress
                    packageManagers: []
              schema:
                $ref: "#/components/schemas/getIssuePackageManagers_202_response"
          description: Empty results with a message indicating the scoped project's
            build status
        "400":
          content:
            application/json:
              examples:
                Bad Request Parameter/Body:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2003
                    message: "Parse error at root.X: ..."
                    name: BadRequestError
                    httpStatusCode: 400
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                No team Access:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2005
                    message: You are not permitted to view this team.
                    name: ForbiddenError
                    httpStatusCode: 403
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Forbidden
        "500":
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2009
                    message: "Sorry, we've encountered an unexpected error. We've\
                      \ recorded it. If you continue to see this, contact support\
                      \ at support@fossa.com and include the unique reference code:\
                      \ 00000000-0000-0000-0000-000000000000"
                    name: InternalServerError
                    httpStatusCode: 500
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Server Error
      security:
      - ApiToken: []
      tags:
      - Issues
  /v2/issues/cwes:
    get:
      description: Get the set of unique CWEs associated with current issues
      operationId: getIssueCWEs
      parameters:
      - description: Issue status
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - active
          - ignored
          type: string
        style: form
      - description: Scope of issues to view / update
        explode: true
        in: query
        name: "scope[type]"
        required: true
        schema:
          enum:
          - global
          - project
          - releaseGroup
          type: string
        style: form
      - description: "Project or release group ID (required when scope[type] is \"\
          project\" or \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[id]"
        required: false
        schema:
          type: string
        style: form
      - description: "Revision ID (when scope[type] is \"project\")"
        explode: true
        in: query
        name: "scope[revision]"
        required: false
        schema:
          type: string
        style: form
      - description: "Revision scan ID (when scope[type] is \"project\")"
        explode: true
        in: query
        name: "scope[revisionScanId]"
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Release group ID (when scope[type] is \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[release]"
        required: false
        schema:
          type: string
        style: form
      - description: "Release scan ID (when scope[type] is \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[releaseScanId]"
        required: false
        schema:
          type: string
        style: form
      - description: The revision ID to compare issues with. Only available for Project
          Scope.
        explode: true
        in: query
        name: "scope[compareTo][revision]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          The status of issues to fetch when comparing issues. - New issues are present in the current revision but not in the comparison revision. - Remediated issues are present in the comparison revision but not in the current revision. - Unchanged issues are present in both revisions. Only available for Project Scope.
        explode: true
        in: query
        name: "scope[compareTo][changeStatus]"
        required: false
        schema:
          enum:
          - new
          - remediated
          - unchanged
          type: string
        style: form
      - description: Filter by one or more team IDs. Providing "null" will return
          all unassigned projects.
        explode: true
        in: query
        name: "teamId[]"
        required: false
        schema:
          items:
            $ref: "#/components/schemas/getIssueCWEs_teamId___parameter_inner"
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getIssueCWEs_200_response"
          description: Unique CWEs associated with current issues
        "202":
          content:
            application/json:
              examples:
                analyzing:
                  value:
                    message: analysis in-progress
                    packageManagers: []
              schema:
                $ref: "#/components/schemas/getIssuePackageManagers_202_response"
          description: Empty results with a message indicating the scoped project's
            build status
        "400":
          content:
            application/json:
              examples:
                Bad Request Parameter/Body:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2003
                    message: "Parse error at root.X: ..."
                    name: BadRequestError
                    httpStatusCode: 400
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                No team Access:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2005
                    message: You are not permitted to view this team.
                    name: ForbiddenError
                    httpStatusCode: 403
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Forbidden
        "500":
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2009
                    message: "Sorry, we've encountered an unexpected error. We've\
                      \ recorded it. If you continue to see this, contact support\
                      \ at support@fossa.com and include the unique reference code:\
                      \ 00000000-0000-0000-0000-000000000000"
                    name: InternalServerError
                    httpStatusCode: 500
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Server Error
      security:
      - ApiToken: []
      tags:
      - Issues
  /v2/issues/{issueId}:
    get:
      description: Retrieve a single issue
      operationId: getIssue
      parameters:
      - description: Issue ID
        explode: false
        in: path
        name: issueId
        required: true
        schema:
          type: integer
        style: simple
      - description: Issue category
        explode: true
        in: query
        name: category
        required: true
        schema:
          enum:
          - licensing
          - vulnerability
          - quality
          type: string
        style: form
      - description: Scope of issues to view / update
        explode: true
        in: query
        name: "scope[type]"
        required: true
        schema:
          enum:
          - global
          - project
          - releaseGroup
          type: string
        style: form
      - description: "Project or release group ID (required when scope[type] is \"\
          project\" or \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[id]"
        required: false
        schema:
          type: string
        style: form
      - description: "Revision ID (when scope[type] is \"project\")"
        explode: true
        in: query
        name: "scope[revision]"
        required: false
        schema:
          type: string
        style: form
      - description: "Revision scan ID (when scope[type] is \"project\")"
        explode: true
        in: query
        name: "scope[revisionScanId]"
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Release group ID (when scope[type] is \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[release]"
        required: false
        schema:
          type: string
        style: form
      - description: "Release scan ID (when scope[type] is \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[releaseScanId]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                vulnIssue:
                  value:
                    id: 27
                    createdAt: 2023-01-19T22:38:02.961Z
                    source:
                      id: npm+lodash$4.2.0
                      name: lodash
                      url: https://www.npmjs.com/package/lodash
                      version: 4.2.0
                      packageManager: npm
                      isCorrected: true
                    depths:
                      direct: 3
                      deep: 0
                    statuses:
                      active: 2
                      ignored: 1
                    projects:
                    - id: custom+1/TEST
                      status: active
                      depth: 1
                      title: TEST
                      scannedAt: 2023-07-12T01:22:12.669+00:00
                      analyzedAt: 2023-07-12T01:12:36.003+00:00
                      url: http://example.com/projectlink
                      firstFoundAt: 2023-07-12T01:12:36.003+00:00
                    type: vulnerability
                    vulnId: CVE-2018-16487_npm+lodash
                    title: General Vulnerability
                    cve: CVE-2018-16487
                    cvss: 9.8
                    cvssVector: CVSS:3.0/AV:N/AC:L/PR:N/UI:N/S:U/C:H/I:H/A:H
                    severity: critical
                    details: "A prototype pollution vulnerability was found in lodash\
                      \ <4.17.11 where the functions merge, mergeWith, and defaultsDeep\
                      \ can be tricked into adding or modifying properties of Object.prototype."
                    remediation:
                      partialFix: 1.15.4
                      completeFix: 1.16.0
                      partialFixDistance: PATCH
                      completeFixDistance: MAJOR
                    metrics:
                    - name: Attack Vector
                      value: Network
                    cveStatus: COMPLETED
                    cwes:
                    - CWE-254
                    published: 2018-09-04T00:00:00.000Z
                    affectedVersionRanges:
                    - <4.17.11
                    patchedVersionRanges:
                    - 4.17.11
                    references:
                    - https://nvd.nist.gov/vuln/detail/CVE-2018-16487
                    epss:
                      score: 0.1234
                      percentile: 0.42
                    exploitability: MATURE
                vulnIssueWithUnableToCalculateVersions:
                  value:
                    id: 27
                    createdAt: 2023-01-19T22:38:02.961Z
                    source:
                      id: npm+lodash$4.2.0
                      name: lodash
                      url: https://www.npmjs.com/package/lodash
                      version: 4.2.0
                      packageManager: npm
                      isCorrected: false
                    depths:
                      direct: 3
                      deep: 0
                    containerLayers:
                      base: 1
                      other: 1
                    statuses:
                      active: 2
                      ignored: 1
                    projects:
                    - id: custom+1/TEST
                      status: active
                      depth: 1
                      title: TEST
                      scannedAt: 2023-07-12T01:22:12.669+00:00
                      analyzedAt: 2023-07-12T01:12:36.003+00:00
                      url: http://example.com/projectlink
                      firstFoundAt: 2023-07-12T01:12:36.003+00:00
                    type: vulnerability
                    vulnId: CVE-2018-16487_npm+lodash
                    title: General Vulnerability
                    cve: CVE-2018-16487
                    cvss: 9.8
                    cvssVector: CVSS:3.0/AV:N/AC:L/PR:N/UI:N/S:U/C:H/I:H/A:H
                    severity: critical
                    details: "A prototype pollution vulnerability was found in lodash\
                      \ <4.17.11 where the functions merge, mergeWith, and defaultsDeep\
                      \ can be tricked into adding or modifying properties of Object.prototype."
                    remediation:
                      partialFix: UNABLE_TO_CALCULATE
                      completeFix: UNABLE_TO_CALCULATE
                    metrics:
                    - name: Attack Vector
                      value: Network
                    cveStatus: COMPLETED
                    cwes:
                    - CWE-254
                    published: 2018-09-04T00:00:00.000Z
                    affectedVersionRanges:
                    - <4.17.11
                    patchedVersionRanges:
                    - 4.17.11
                    references:
                    - https://nvd.nist.gov/vuln/detail/CVE-2018-16487
                    epss:
                      score: 0.1234
                      percentile: 0.42
                    exploitability: MATURE
                vulnIssueWithNoSafeVersions:
                  value:
                    id: 27
                    createdAt: 2023-01-19T22:38:02.961Z
                    source:
                      id: npm+lodash$4.2.0
                      name: lodash
                      url: https://www.npmjs.com/package/lodash
                      version: 4.2.0
                      packageManager: npm
                      isCorrected: false
                    depths:
                      direct: 3
                      deep: 0
                    containerLayers:
                      base: 1
                      other: 1
                    statuses:
                      active: 2
                      ignored: 1
                    projects:
                    - id: custom+1/TEST
                      status: active
                      depth: 1
                      title: TEST
                      scannedAt: 2023-07-12T01:22:12.669+00:00
                      analyzedAt: 2023-07-12T01:12:36.003+00:00
                      url: http://example.com/projectlink
                      firstFoundAt: 2023-07-12T01:12:36.003+00:00
                    type: vulnerability
                    vulnId: CVE-2018-16487_npm+lodash
                    title: General Vulnerability
                    cve: CVE-2018-16487
                    cvss: 9.8
                    cvssVector: CVSS:3.0/AV:N/AC:L/PR:N/UI:N/S:U/C:H/I:H/A:H
                    severity: critical
                    details: "A prototype pollution vulnerability was found in lodash\
                      \ <4.17.11 where the functions merge, mergeWith, and defaultsDeep\
                      \ can be tricked into adding or modifying properties of Object.prototype."
                    remediation:
                      partialFix: NO_SAFE_VERSION
                      completeFix: NO_SAFE_VERSION
                    metrics:
                    - name: Attack Vector
                      value: Network
                    cveStatus: COMPLETED
                    cwes:
                    - CWE-254
                    published: 2018-09-04T00:00:00.000Z
                    affectedVersionRanges:
                    - <4.17.11
                    patchedVersionRanges:
                    - 4.17.11
                    references:
                    - https://nvd.nist.gov/vuln/detail/CVE-2018-16487
                    epss:
                      score: 0.1234
                      percentile: 0.42
                    exploitability: MATURE
                licensingIssue:
                  value:
                    id: 144
                    createdAt: 2023-07-13T19:22:16.546Z
                    source:
                      id: npm+lodash$4.2.0
                      name: lodash
                      url: https://www.npmjs.com/package/lodash
                      version: 4.2.0
                      packageManager: npm
                      isCorrected: true
                    depths:
                      direct: 3
                      deep: 0
                    containerLayers:
                      base: 1
                      other: 1
                    statuses:
                      active: 2
                      ignored: 1
                    projects:
                    - id: custom+1/TEST
                      status: active
                      depth: 1
                      title: TEST
                      scannedAt: 2023-07-12T01:22:12.669+00:00
                      analyzedAt: 2023-07-12T01:12:36.003+00:00
                      url: http://example.com/projectlink
                      firstFoundAt: 2023-07-12T01:12:36.003+00:00
                    type: policy_flag
                    license: unknown
                qualityIssue:
                  value:
                    id: 196
                    createdAt: 2023-07-13T19:22:16.546Z
                    source:
                      id: npm+lodash$4.2.0
                      name: lodash
                      url: https://www.npmjs.com/package/lodash
                      version: 4.2.0
                      packageManager: npm
                    depths:
                      direct: 3
                      deep: 0
                    containerLayers:
                      base: 1
                      other: 1
                    statuses:
                      active: 2
                      ignored: 1
                    projects:
                    - id: custom+1/TEST
                      status: active
                      depth: 1
                      title: TEST
                      scannedAt: 2023-07-12T01:22:12.669+00:00
                      analyzedAt: 2023-07-12T01:12:36.003+00:00
                      url: http://example.com/projectlink
                      firstFoundAt: 2023-07-12T01:12:36.003+00:00
                    type: blacklisted_dependency
                    qualityRule:
                      ruleId: 6538966
                      type: blacklisted_dependency
                      notes: Major difference of 3 or more
                      dependencyOutdatedType: FALLBACK
                      dependencyOutdatedVersionPart: PATCH
                      dependencyOutdatedVersionDiff: "20"
                      dependencyFilterName: react
                      dependencyFilterVersionType: ALL
                      dependencyFilterStartVersion: 4.17.12
                      dependencyFilterEndVersion: 4.0.0
                      enabled: true
                      packageProjectLocator: npm+react
                      createdAt: 2023-05-31T18:19:08.967Z
                      updatedAt: 2023-05-31T18:19:08.967Z
                    latestVersion: npm+lodash$4.17.21
              schema:
                $ref: "#/components/schemas/getIssue_200_response"
          description: "Vulnerability, licensing, or quality issue response"
        "400":
          content:
            application/json:
              examples:
                Bad Request Parameter/Body:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2003
                    message: "Parse error at root.X: ..."
                    name: BadRequestError
                    httpStatusCode: 400
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Bad Request
        "404":
          content:
            application/json:
              examples:
                No Issue Found:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2004
                    message: Issue not found.
                    name: NotFoundError
                    httpStatusCode: 404
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: NotFound
        "500":
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2009
                    message: "Sorry, we've encountered an unexpected error. We've\
                      \ recorded it. If you continue to see this, contact support\
                      \ at support@fossa.com and include the unique reference code:\
                      \ 00000000-0000-0000-0000-000000000000"
                    name: InternalServerError
                    httpStatusCode: 500
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Server Error
      security:
      - ApiToken: []
      tags:
      - Issues
  /v2/issues/{issueId}/disputes:
    post:
      description: Creates an issue dispute. Supports licensing and quality issue
        disputes. The dispute type is determined by the category of the specified
        issue.
      operationId: createIssueDispute
      parameters:
      - description: ID of the issue that is being disputed.
        explode: false
        in: path
        name: issueId
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createIssueDispute_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createIssueDispute_200_response"
          description: The created dispute.
        "400":
          content:
            application/json:
              examples:
                Bad Request Parameter/Body:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2003
                    message: "Parse error at root.X: ..."
                    name: BadRequestError
                    httpStatusCode: 400
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                No team Access:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2005
                    message: You are not permitted to view this team.
                    name: ForbiddenError
                    httpStatusCode: 403
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Forbidden
        "500":
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2009
                    message: "Sorry, we've encountered an unexpected error. We've\
                      \ recorded it. If you continue to see this, contact support\
                      \ at support@fossa.com and include the unique reference code:\
                      \ 00000000-0000-0000-0000-000000000000"
                    name: InternalServerError
                    httpStatusCode: 500
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Server Error
      security:
      - ApiToken: []
      tags:
      - Issues
  /v2/issues/{issueId}/affected-projects:
    get:
      description: Retrieves a list of affected projects for a given issue.
      operationId: getIssueAffectedProjects
      parameters:
      - description: Issue ID
        explode: false
        in: path
        name: issueId
        required: true
        schema:
          type: integer
        style: simple
      - description: Issue category
        explode: true
        in: query
        name: category
        required: true
        schema:
          enum:
          - licensing
          - vulnerability
          - quality
          type: string
        style: form
      - description: Scope of issues to view / update
        explode: true
        in: query
        name: "scope[type]"
        required: true
        schema:
          enum:
          - global
          - project
          - releaseGroup
          type: string
        style: form
      - description: "Project or release group ID (required when scope[type] is \"\
          project\" or \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[id]"
        required: false
        schema:
          type: string
        style: form
      - description: "Revision ID (when scope[type] is \"project\")"
        explode: true
        in: query
        name: "scope[revision]"
        required: false
        schema:
          type: string
        style: form
      - description: "Revision scan ID (when scope[type] is \"project\")"
        explode: true
        in: query
        name: "scope[revisionScanId]"
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Release group ID (when scope[type] is \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[release]"
        required: false
        schema:
          type: string
        style: form
      - description: "Release scan ID (when scope[type] is \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[releaseScanId]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                affectedProject:
                  value:
                  - id: custom+1/TEST
                    revisionId: custom+1/TEST$123
                    title: TEST
                    status: active
                    branch: master
                    jiraTicketId: TEST-123
                    jiraTicketURL: https://test.atlassian.net/browse/TEST-123
                    type: jira
                    concludedLicenses:
                    - MIT
                    - Apache-2.0
              schema:
                items:
                  $ref: "#/components/schemas/getIssueAffectedProjects_200_response_inner"
                type: array
          description: Affected project list
        "400":
          content:
            application/json:
              examples:
                Bad Request Parameter/Body:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2003
                    message: "Parse error at root.X: ..."
                    name: BadRequestError
                    httpStatusCode: 400
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Bad Request
        "500":
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    uuid: 00000000-0000-0000-0000-000000000000
                    code: 2009
                    message: "Sorry, we've encountered an unexpected error. We've\
                      \ recorded it. If you continue to see this, contact support\
                      \ at support@fossa.com and include the unique reference code:\
                      \ 00000000-0000-0000-0000-000000000000"
                    name: InternalServerError
                    httpStatusCode: 500
              schema:
                $ref: "#/components/schemas/addLicenseConclusion_400_response"
          description: Server Error
      security:
      - ApiToken: []
      tags:
      - Issues
  /v2/issues:
    get:
      description: Retrieve multiple issues
      operationId: getIssues
      parameters:
      - description: Retrieves issues as a CSV
        explode: true
        in: query
        name: csv
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Include origin paths for the direct dependency responsible for
          including the revision(s) affected by this issue
        explode: true
        in: query
        name: includeDirectDependencyOriginPaths
        required: false
        schema:
          type: boolean
        style: form
      - description: Issue category
        explode: true
        in: query
        name: category
        required: true
        schema:
          enum:
          - licensing
          - vulnerability
          - quality
          type: string
        style: form
      - description: Issue status
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - active
          - ignored
          type: string
        style: form
      - description: Scope of issues to view / update
        explode: true
        in: query
        name: "scope[type]"
        required: true
        schema:
          enum:
          - global
          - project
          - releaseGroup
          type: string
        style: form
      - description: "Project or release group ID (required when scope[type] is \"\
          project\" or \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[id]"
        required: false
        schema:
          type: string
        style: form
      - description: "Revision ID (when scope[type] is \"project\")"
        explode: true
        in: query
        name: "scope[revision]"
        required: false
        schema:
          type: string
        style: form
      - description: "Revision scan ID (when scope[type] is \"project\")"
        explode: true
        in: query
        name: "scope[revisionScanId]"
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Release group ID (when scope[type] is \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[release]"
        required: false
        schema:
          type: string
        style: form
      - description: "Release scan ID (when scope[type] is \"releaseGroup\")"
        explode: true
        in: query
        name: "scope[releaseScanId]"
        required: false
        schema:
          type: string
        style: form
      - description: The revision ID to compare issues with. Only available for Project
          Scope.
        explode: true
        in: query
        name: "scope[compareTo][revision]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          The status of issues to fetch when comparing issues. - New issues are present in the current revision but not in the comparison revision. - Remediated issues are present in the comparison revision but not in the current revision. - Unchanged issues are present in both revisions. Only available for Project Scope.
        explode: true
        in: query
        name: "scope[compareTo][changeStatus]"
        required: false
        schema:
          enum:
          - new
          - remediated
          - unchanged
          type: string
        style: form
      - description: Filter by specific issue IDs
        explode: true
        in: query
        name: "ids[]"
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: Filter by specific revision IDs
        explode: true
        in: query
        name: "filter[revisionIds][]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by package name or CVE (when category is "vulnerability")
        explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - description: Filter by issue depth
        explode: true
        in: query
        name: "filter[depths][]"
        required: false
        schema:
          items:
            enum:
            - direct
            - deep
            type: string
          type: array
        style: form
      - description: Filter by ticketed status.  Only available to premium users.
        explode: true
        in: query
        name: "filter[ticketed][]"
        required: false
        schema:
          items:
            enum:
            - jira
            - custom
            - has_ticket
            - no_ticket
            type: string
          type: array
        style: form
      - description: Filter by container layer
        explode: true
        in: query
        name: "filter[containerLayers][]"
        required: false
        schema:
          items:
            enum:
            - baseLayer
            - otherLayer
            type: string
          type: array
        style: form
      - description: |
          Filter by licensing issue type (when category is "licensing") or quality issue type (when category is "quality")
        explode: true
        in: query
        name: "filter[type][]"
        required: false
        schema:
          $ref: "#/components/schemas/getIssueStatuses_filter_type____parameter"
        style: form
      - description: Filter by specific package managers
        explode: true
        in: query
        name: "filter[packageManagers][]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by specific CWE identifiers
        explode: true
        in: query
        name: "filter[cwes][]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by specific project labels
        explode: true
        in: query
        name: "filter[projectLabels][]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by license identification (when category is "licensing")
        explode: true
        in: query
        name: "filter[identification][]"
        required: false
        schema:
          items:
            enum:
            - declared
            - discovered
            type: string
          type: array
        style: form
      - description: Filter by vuln severity (when category is "vulnerability")
        explode: true
        in: query
        name: "filter[severity][]"
        required: false
        schema:
          items:
            enum:
            - critical
            - high
            - medium
            - low
            - unknown
            type: string
          type: array
        style: form
      - description: |
          Filter by severity source (when category is "vulnerability"). Use 'standard' to filter by CVSS score, 'custom' to filter by custom risk score. When both are provided, issues matching either source are returned. Defaults to 'standard' when not provided. Custom risk score filtering is not available for global scope.
        explode: true
        in: query
        name: "filter[severitySource][]"
        required: false
        schema:
          items:
            enum:
            - standard
            - custom
            type: string
          type: array
        style: form
      - description: Include only issues found on before a given ISO timestamp.  Only
          available to premium users
        explode: true
        in: query
        name: "filter[foundBefore]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Include only issues found on after a given ISO timestamp.  Only
          available to premium users
        explode: true
        in: query
        name: "filter[foundAfter]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter by vuln fixability (when category is "vulnerability")
        explode: true
        in: query
        name: "filter[hasFix][]"
        required: false
        schema:
          items:
            enum:
            - has_fix
            - no_fix
            type: string
          type: array
        style: form
      - description: Filter by vuln upgrade distance (when category is "vulnerability")
        explode: true
        in: query
        name: "filter[upgradeDistance][]"
        required: false
        schema:
          items:
            enum:
            - none
            - major
            - minor
            - patch
            - unknown
            type: string
          type: array
        style: form
      - description: Filter by vuln exploit maturity (when category is "vulnerability")
        explode: true
        in: query
        name: "filter[exploitMaturity][]"
        required: false
        schema:
          items:
            enum:
            - has_known_exploit
            - no_known_exploit
            type: string
          type: array
        style: form
      - description: |
          Filter by vuln ignore reason (when category is "vulnerability") This value appears in the vulnerabilities.analysis.detail field in CycloneDX SBOM reports
        explode: true
        in: query
        name: "filter[ignoreReason][]"
        required: false
        schema:
          items:
            description: |
              Provided reason for ignoring or resolving a security issue. 'Fixed' and 'Under_investigation' map to VEX statuses with the same names. All other values map to the VEX status 'Not Affected'. This value appears in the vulnerabilities.analysis.justification field of CycloneDX SBOM reports.
            enum:
            - Fixed
            - Under_investigation
            - Vulnerable_code_not_present
            - Vulnerable_code_cannot_be_controlled
            - Component_not_present
            - Vulnerable_code_not_in_execute_path
            - Inline_mitigations_already_exist
            - incorrect_data_found
            - other
            type: string
          type: array
        style: form
      - description: Filter by epss 'score' or 'percentile'. All fields are required.  Only
          available to premium users.
        examples:
          filterByScore:
            summary: Filter to issues with a score between 0.1 and 0.25 (inclusive)
            value:
              type: score
              min: 0.01
              max: 0.25
          filterByPercentile:
            summary: Filter to issues above the 85th percentile (inclusive)
            value:
              type: percentile
              min: 0.85
              max: 1
        explode: true
        in: query
        name: "filter[epss]"
        required: false
        schema:
          $ref: "#/components/schemas/getIssueDiffComparisonSummaries_filter_epss__parameter"
        style: deepObject
      - description: Filter issues by their binary dependency confidence level(s)
        explode: true
        in: query
        name: "filter[confidence][]"
        required: false
        schema:
          items:
            enum:
            - High
            - Medium
            - Low
            - Unknown
            type: string
          type: array
        style: form
      - description: |
          Filter by issue source. Use 'dependency' and 'snippet' to filter by whether the issue comes from a dependency or a code snippet. When the vendored dependency detection feature is enabled, use 'managed-dependency' and 'vendored-dependency' to filter dependency issues by whether the dependency is managed or vendored.
        explode: true
        in: query
        name: "filter[issueSource][]"
        required: false
        schema:
          $ref: "#/components/schemas/getIssueStatuses_filter_issueSource____parameter"
        style: form
      - description: |
          Sort by package name, when the issue was created, or severity (when category is "vulnerability")
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - package_asc
          - package_desc
          - created_at_asc
          - created_at_desc
          - severity_asc
          - severity_desc
          - epss_asc
          - epss_desc
          type: string
        style: form
      - description: The specific page of data to return
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The number of items to return in each page of results
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                vulnIssues:
                  value:
                    issues:
                    - id: 27
                      createdAt: 2023-01-19T22:38:02.961Z
                      source:
                        id: npm+lodash$4.2.0
                        name: lodash
                        url: https://www.npmjs.com/package/lodash
                        version: 4.2.0
                        packageManager: npm
                        isCorrected: false
                      depths:
                        direct: 3
                        deep: 0
                      containerLayers:
                        base: 1
                        other: 1
                      statuses:
                        active: 2
                        ignored: 1
                      projects:
                      - id: custom+1/TEST
                        status: active
                        depth: 1
                        title: TEST
                        scannedAt: 2023-07-12T01:22:12.669+00:00
                        analyzedAt: 2023-07-12T01:12:36.003+00:00
                        url: http://example.com/projectlink
                        firstFoundAt: 2023-07-12T01:12:36.003+00:00
                      type: vulnerability
                      vulnId: CVE-2018-16487_npm+lodash
[...]
